<!DOCTYPE html><html lang="en" xmlns:th="http://www.thymeleaf.org"><head>    <meta charset="UTF-8"/>    <title>watchlist | API Home</title>    <link th:href="@{/css/site.css}" rel="stylesheet"/></head><body>
    	<a th:href="@{/api/networkss}">Networks</a><br>
    	<a th:href="@{/api/showss}">Shows</a><br>
    	<a th:href="@{/api/roamiosps}">Roamiosp</a><br>
    	<a th:href="@{/api/cablecards}">Cablecard</a><br>
    	<a th:href="@{/api/roamionpls}">Roamionpl</a><br>
    	<a th:href="@{/api/otas}">Ota</a><br>
    	<a th:href="@{/api/roamiotodos}">Roamiotodo</a><br>
    	<a th:href="@{/}">Home</a><br>
    	<a th:href="@{/login}">Login</a><br>
