<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.listView} + ' ' + #{class.Cablecard}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:text="#{class.Cablecard} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/cablecards/new}" th:text="#{edit.new} + ' ' + #{class.Cablecard}"></a> <br /><br />

	    <table>
	        <tr>
            <th th:text="#{Cablecard.channelname}">ChannelName</th>
            <th th:text="#{Cablecard.channelnumber}">ChannelNumber</th>
            <th th:text="#{Cablecard.colh}">Colh</th>
            <th th:text="#{Cablecard.dt}">Dt</th>
            <th th:text="#{Cablecard.hd}">Hd</th>
            <th th:text="#{Cablecard.id}">id</th>
            <th th:text="#{Cablecard.innpl}">InNpl</th>
            <th th:text="#{Cablecard.lang}">Lang</th>
            <th th:text="#{Cablecard.net}">Net</th>
            <th th:text="#{Cablecard.od}">Od</th>
            <th th:text="#{Cablecard.receiving}">Receiving</th>
            <th th:text="#{Cablecard.shortfield}">ShortField</th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="cablecard:${cablecards}">
	            <td th:text="${cablecard.channelname}"></td>
	            <td th:text="${cablecard.channelnumber}"></td>
	            <td th:text="${cablecard.colh}"></td>
	            <td th:text="${cablecard.dt}"></td>
	            <td th:text="${cablecard.hd}"></td>
	            <td th:text="${cablecard.id}"></td>
	            <td th:text="${cablecard.innpl}"></td>
	            <td th:text="${cablecard.lang}"></td>
	            <td th:text="${cablecard.net}"></td>
	            <td th:text="${cablecard.od}"></td>
	            <td th:text="${cablecard.receiving}"></td>
	            <td th:text="${cablecard.shortfield}"></td>
				<td><a th:href="@{'/cablecards/edit/' + ${cablecard.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/cablecards/delete/' + ${cablecard.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
    </div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
