<!DOCTYPE html><html lang="en" xmlns:th="http://www.thymeleaf.org"><head>    <meta charset="UTF-8"/>    <title>watchlist | Edit Roamiotodo</title>    <link th:href="@{/css/site.css}" rel="stylesheet"/></head><body>
	<div align="center">
		<h1 th:if="${roamiotodo.id == 0}">Create New Roamiotodo</h1>
		<h1 th:if="${roamiotodo.id > 0}">Edit Roamiotodo</h1>
		<br />
		<form action="#" th:action="@{/roamiotodos/save}" th:object="${roamiotodo}"
			method="post">

			<table >
				<tr th:if="${roamiotodo.id > 0}">				
					<td>id:</td>
					<td>
						<input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
            		<td>Channel:</td>
					<td>
						<input type="text" th:field="*{channel}" />
					</td>
				</tr>
				<tr>
            		<td>Date:</td>
					<td>
						<input type="text" th:field="*{date}" />
					</td>
				</tr>
				<tr>
            		<td>Duration:</td>
					<td>
						<input type="text" th:field="*{duration}" />
					</td>
				</tr>
				<tr>
            		<td>Ep:</td>
					<td>
						<input type="text" th:field="*{ep}" />
					</td>
				</tr>
				<tr>
            		<td>EpisodeName:</td>
					<td>
						<input type="text" th:field="*{episodename}" />
					</td>
				</tr>
				<tr>
            		<td>ShowName:</td>
					<td>
						<input type="text" th:field="*{showname}" />
					</td>
				</tr>
				<tr>
            		<td>ShowTrimmed:</td>
					<td>
						<input type="text" th:field="*{showtrimmed}" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" name="action" value="save">save</button> <button type="submit" name="action" value="cancel">cancel</button></td>
				</tr>
			</table>
		</form>
	</div>
