<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.edit} + ' ' + #{class.Ota}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:if="${ota.id == 0}"
			th:text="#{edit.new} + ' ' + #{class.Ota}"></h1>
		<h1 th:if="${ota.id > 0}"
			th:text="#{edit.edit} + ' ' + #{class.Ota}"></h1>
		<br />
		<form action="#" th:action="@{/otas/save}" th:object="${ota}"
			method="post">

			<table >
				<tr th:if="${ota.id > 0}">				
					<td>id:</td>
					<td>
						<input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
            		<td>Chan:</td>
					<td>
						<input type="text" th:field="*{chan}" />
					</td>
				</tr>
				<tr>
            		<td>ChannelName:</td>
					<td>
						<input type="text" th:field="*{channelname}" />
					</td>
				</tr>
				<tr>
            		<td>ChannelNumber:</td>
					<td>
						<input type="text" th:field="*{channelnumber}" />
					</td>
				</tr>
				<tr>
            		<td>Comments:</td>
					<td>
						<input type="text" th:field="*{comments}" />
					</td>
				</tr>
				<tr>
            		<td>Direction:</td>
					<td>
						<input type="text" th:field="*{direction}" />
					</td>
				</tr>
				<tr>
            		<td>Enabled:</td>
					<td>
						<input type="text" th:field="*{enabled}" />
					</td>
				</tr>
				<tr>
            		<td>FccInfo:</td>
					<td>
						<input type="text" th:field="*{fccinfo}" />
					</td>
				</tr>
				<tr>
            		<td>FccInfoLink:</td>
					<td>
						<input type="text" th:field="*{fccinfolink}" />
					</td>
				</tr>
				<tr>
            		<td>Freq:</td>
					<td>
						<input type="text" th:field="*{freq}" />
					</td>
				</tr>
				<tr>
            		<td>Lang:</td>
					<td>
						<input type="text" th:field="*{lang}" />
					</td>
				</tr>
				<tr>
            		<td>Listed:</td>
					<td>
						<input type="text" th:field="*{listed}" />
					</td>
				</tr>
				<tr>
            		<td>MyTivoAvgStrength:</td>
					<td>
						<input type="text" th:field="*{mytivoavgstrength}" />
					</td>
				</tr>
				<tr>
            		<td>Network:</td>
					<td>
						<input type="text" th:field="*{network}" />
					</td>
				</tr>
				<tr>
            		<td>Off:</td>
					<td>
						<input type="text" th:field="*{off}" />
					</td>
				</tr>
				<tr>
            		<td>RecommendedAntenna:</td>
					<td>
						<input type="text" th:field="*{recommendedantenna}" />
					</td>
				</tr>
				<tr>
            		<td>Rez:</td>
					<td>
						<input type="text" th:field="*{rez}" />
					</td>
				</tr>
				<tr>
            		<td>Station:</td>
					<td>
						<input type="text" th:field="*{station}" />
					</td>
				</tr>
				<tr>
            		<td>SubChan:</td>
					<td>
						<input type="text" th:field="*{subchan}" />
					</td>
				</tr>
				<tr>
            		<td>TvFoolEstSignal:</td>
					<td>
						<input type="text" th:field="*{tvfoolestsignal}" />
					</td>
				</tr>
				<tr>
            		<td>Watchable:</td>
					<td>
						<input type="text" th:field="*{watchable}" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" name="action" value="save" th:text="#{edit.save}"></button> <button type="submit" name="action" value="cancel" th:text="#{edit.cancel}"></button></td>
				</tr>
			</table>
		</form>
	</div>
