<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{edit.edit} + ' ' + #{class.Roamiotodo}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/roamiotodos/save}" th:object="${roamiotodoForm}"
			th:fragment="roamiotodoForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${roamiotodoForm.*}')}">
				<div th:each="fieldErrors : ${#fields.errors('${roamiotodoForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:unless="${roamiotodoForm.id > 0}"
					th:text="#{edit.new} + ' ' + #{class.Roamiotodo}"></legend>
				<legend th:if="${roamiotodoForm.id > 0}"
					th:text="#{edit.edit} + ' ' + #{class.Roamiotodo}"></legend>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('channel')}? 'has-error'">
					<label for="channel" class="col-lg-2 control-label"
						th:text="#{Roamiotodo.channel} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="channel"
							th:field="*{channel}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('channel')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('datefield')}? 'has-error'">
					<label for="datefield" class="col-lg-2 control-label"
						th:text="#{Roamiotodo.datefield} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="datefield"
							th:field="*{datefield}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('datefield')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('duration')}? 'has-error'">
					<label for="duration" class="col-lg-2 control-label"
						th:text="#{Roamiotodo.duration} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="duration"
							th:field="*{duration}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('duration')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('ep')}? 'has-error'">
					<label for="ep" class="col-lg-2 control-label"
						th:text="#{Roamiotodo.ep} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="ep"
							th:field="*{ep}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('ep')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('episodename')}? 'has-error'">
					<label for="episodename" class="col-lg-2 control-label"
						th:text="#{Roamiotodo.episodename} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="episodename"
							th:field="*{episodename}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('episodename')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<input type="hidden" class="form-control" id="id" th:field="*{id}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('showname')}? 'has-error'">
					<label for="showname" class="col-lg-2 control-label"
						th:text="#{Roamiotodo.showname} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="showname"
							th:field="*{showname}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('showname')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('showtrimmed')}? 'has-error'">
					<label for="showtrimmed" class="col-lg-2 control-label"
						th:text="#{Roamiotodo.showtrimmed} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="showtrimmed"
							th:field="*{showtrimmed}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('showtrimmed')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamiotodoForm.account.email" class="col-lg-2 control-label"
						th:text="#{Account.email} + ':'"></label>
					<div th:if="${roamiotodoForm.account != null}" class="col-lg-10" id="roamiotodoForm.account.email"
	                        th:text="${roamiotodoForm.account.email}">
					</div>
				<div th:unless="${roamiotodoForm.account != null}" th:text="${roamiotodoForm.account}"></div>
				</div>
				<input type="hidden" class="form-control" id="account.id" th:field="*{account.id}" />
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default" th:text="#{edit.save}"></button>
						<button type="submit" name="action" value="cancel" class="btn"
							th:text="#{edit.cancel}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
