<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.edit} + ' ' + #{class.Roamiosp}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:if="${roamiosp.id == 0}"
			th:text="#{edit.new} + ' ' + #{class.Roamiosp}"></h1>
		<h1 th:if="${roamiosp.id > 0}"
			th:text="#{edit.edit} + ' ' + #{class.Roamiosp}"></h1>
		<br />
		<form action="#" th:action="@{/roamiosps/save}" th:object="${roamiosp}"
			method="post">

			<table >
				<tr th:if="${roamiosp.id > 0}">				
					<td th:text="#{Roamiosp.id} + ':'">id:</td>
					<td>
						<input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
            		<td>Channel:</td>
					<td>
						<input type="text" th:field="*{channel}" />
					</td>
				</tr>
				<tr>
            		<td>End:</td>
					<td>
						<input type="text" th:field="*{end}" />
					</td>
				</tr>
				<tr>
            		<td>Include:</td>
					<td>
						<input type="text" th:field="*{include}" />
					</td>
				</tr>
				<tr>
            		<td>Keep:</td>
					<td>
						<input type="text" th:field="*{keep}" />
					</td>
				</tr>
				<tr>
            		<td>Num:</td>
					<td>
						<input type="text" th:field="*{num}" />
					</td>
				</tr>
				<tr>
            		<td>Priority:</td>
					<td>
						<input type="text" th:field="*{priority}" />
					</td>
				</tr>
				<tr>
            		<td>Record:</td>
					<td>
						<input type="text" th:field="*{record}" />
					</td>
				</tr>
				<tr>
            		<td>Season:</td>
					<td>
						<input type="text" th:field="*{season}" />
					</td>
				</tr>
				<tr>
            		<td>Show:</td>
					<td>
						<input type="text" th:field="*{show}" />
					</td>
				</tr>
				<tr>
            		<td>Start:</td>
					<td>
						<input type="text" th:field="*{start}" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" name="action" value="save" th:text="#{edit.save}"></button> <button type="submit" name="action" value="cancel" th:text="#{edit.cancel}"></button></td>
				</tr>
			</table>
		</form>
	</div>
	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
