<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.edit} + ' ' + #{class.Shows}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/showss/save}" th:object="${showsForm}"
			th:fragment="showsForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${showsForm.*}')}">
				<div th:each="fieldErrors : ${#fields.errors('${showsForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:unless="${showsForm.id > 0}"
					th:text="#{edit.new} + ' ' + #{class.Shows}"></legend>
				<legend th:if="${showsForm.id > 0}"
					th:text="#{edit.edit} + ' ' + #{class.Shows}"></legend>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('abc')}? 'has-error'">
					<label for="abc" class="col-lg-2 control-label"
						th:text="#{Shows.abc} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="abc"
							th:field="*{abc}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('abc')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('abclink')}? 'has-error'">
					<label for="abclink" class="col-lg-2 control-label"
						th:text="#{Shows.abclink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="abclink"
							th:field="*{abclink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('abclink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('acorntv')}? 'has-error'">
					<label for="acorntv" class="col-lg-2 control-label"
						th:text="#{Shows.acorntv} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="acorntv"
							th:field="*{acorntv}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('acorntv')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('acorntvlink')}? 'has-error'">
					<label for="acorntvlink" class="col-lg-2 control-label"
						th:text="#{Shows.acorntvlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="acorntvlink"
							th:field="*{acorntvlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('acorntvlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('amazon')}? 'has-error'">
					<label for="amazon" class="col-lg-2 control-label"
						th:text="#{Shows.amazon} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="amazon"
							th:field="*{amazon}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('amazon')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('amazonlink')}? 'has-error'">
					<label for="amazonlink" class="col-lg-2 control-label"
						th:text="#{Shows.amazonlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="amazonlink"
							th:field="*{amazonlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('amazonlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('amc')}? 'has-error'">
					<label for="amc" class="col-lg-2 control-label"
						th:text="#{Shows.amc} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="amc"
							th:field="*{amc}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('amc')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('amclink')}? 'has-error'">
					<label for="amclink" class="col-lg-2 control-label"
						th:text="#{Shows.amclink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="amclink"
							th:field="*{amclink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('amclink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('bbca')}? 'has-error'">
					<label for="bbca" class="col-lg-2 control-label"
						th:text="#{Shows.bbca} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="bbca"
							th:field="*{bbca}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('bbca')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('bbcalink')}? 'has-error'">
					<label for="bbcalink" class="col-lg-2 control-label"
						th:text="#{Shows.bbcalink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="bbcalink"
							th:field="*{bbcalink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('bbcalink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('britbox')}? 'has-error'">
					<label for="britbox" class="col-lg-2 control-label"
						th:text="#{Shows.britbox} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="britbox"
							th:field="*{britbox}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('britbox')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('britboxlink')}? 'has-error'">
					<label for="britboxlink" class="col-lg-2 control-label"
						th:text="#{Shows.britboxlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="britboxlink"
							th:field="*{britboxlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('britboxlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('bufferspace')}? 'has-error'">
					<label for="bufferspace" class="col-lg-2 control-label"
						th:text="#{Shows.bufferspace} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="bufferspace"
							th:field="*{bufferspace}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('bufferspace')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('bufsp')}? 'has-error'">
					<label for="bufsp" class="col-lg-2 control-label"
						th:text="#{Shows.bufsp} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="bufsp"
							th:field="*{bufsp}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('bufsp')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cancelled')}? 'has-error'">
					<label for="cancelled" class="col-lg-2 control-label"
						th:text="#{Shows.cancelled} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cancelled"
							th:field="*{cancelled}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('cancelled')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cbs')}? 'has-error'">
					<label for="cbs" class="col-lg-2 control-label"
						th:text="#{Shows.cbs} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cbs"
							th:field="*{cbs}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('cbs')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cbslink')}? 'has-error'">
					<label for="cbslink" class="col-lg-2 control-label"
						th:text="#{Shows.cbslink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cbslink"
							th:field="*{cbslink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('cbslink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cc')}? 'has-error'">
					<label for="cc" class="col-lg-2 control-label"
						th:text="#{Shows.cc} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cc"
							th:field="*{cc}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('cc')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cclink')}? 'has-error'">
					<label for="cclink" class="col-lg-2 control-label"
						th:text="#{Shows.cclink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cclink"
							th:field="*{cclink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('cclink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('colg')}? 'has-error'">
					<label for="colg" class="col-lg-2 control-label"
						th:text="#{Shows.colg} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="colg"
							th:field="*{colg}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('colg')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cw')}? 'has-error'">
					<label for="cw" class="col-lg-2 control-label"
						th:text="#{Shows.cw} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cw"
							th:field="*{cw}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('cw')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cwlink')}? 'has-error'">
					<label for="cwlink" class="col-lg-2 control-label"
						th:text="#{Shows.cwlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cwlink"
							th:field="*{cwlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('cwlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('diff')}? 'has-error'">
					<label for="diff" class="col-lg-2 control-label"
						th:text="#{Shows.diff} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="diff"
							th:field="*{diff}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('diff')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('epguidesshowname')}? 'has-error'">
					<label for="epguidesshowname" class="col-lg-2 control-label"
						th:text="#{Shows.epguidesshowname} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="epguidesshowname"
							th:field="*{epguidesshowname}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('epguidesshowname')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('epguidesshownamelink')}? 'has-error'">
					<label for="epguidesshownamelink" class="col-lg-2 control-label"
						th:text="#{Shows.epguidesshownamelink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="epguidesshownamelink"
							th:field="*{epguidesshownamelink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('epguidesshownamelink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('freeformabcf')}? 'has-error'">
					<label for="freeformabcf" class="col-lg-2 control-label"
						th:text="#{Shows.freeformabcf} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="freeformabcf"
							th:field="*{freeformabcf}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('freeformabcf')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('freeformabcflink')}? 'has-error'">
					<label for="freeformabcflink" class="col-lg-2 control-label"
						th:text="#{Shows.freeformabcflink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="freeformabcflink"
							th:field="*{freeformabcflink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('freeformabcflink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('fx')}? 'has-error'">
					<label for="fx" class="col-lg-2 control-label"
						th:text="#{Shows.fx} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="fx"
							th:field="*{fx}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('fx')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('fxlink')}? 'has-error'">
					<label for="fxlink" class="col-lg-2 control-label"
						th:text="#{Shows.fxlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="fxlink"
							th:field="*{fxlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('fxlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('googleplay')}? 'has-error'">
					<label for="googleplay" class="col-lg-2 control-label"
						th:text="#{Shows.googleplay} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="googleplay"
							th:field="*{googleplay}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('googleplay')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('googleplaylink')}? 'has-error'">
					<label for="googleplaylink" class="col-lg-2 control-label"
						th:text="#{Shows.googleplaylink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="googleplaylink"
							th:field="*{googleplaylink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('googleplaylink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('hbo')}? 'has-error'">
					<label for="hbo" class="col-lg-2 control-label"
						th:text="#{Shows.hbo} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="hbo"
							th:field="*{hbo}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('hbo')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('hbolink')}? 'has-error'">
					<label for="hbolink" class="col-lg-2 control-label"
						th:text="#{Shows.hbolink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="hbolink"
							th:field="*{hbolink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('hbolink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('huluplus')}? 'has-error'">
					<label for="huluplus" class="col-lg-2 control-label"
						th:text="#{Shows.huluplus} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="huluplus"
							th:field="*{huluplus}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('huluplus')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('hulupluslink')}? 'has-error'">
					<label for="hulupluslink" class="col-lg-2 control-label"
						th:text="#{Shows.hulupluslink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="hulupluslink"
							th:field="*{hulupluslink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('hulupluslink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<input type="hidden" class="form-control" id="id" th:field="*{id}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('ifc')}? 'has-error'">
					<label for="ifc" class="col-lg-2 control-label"
						th:text="#{Shows.ifc} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="ifc"
							th:field="*{ifc}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('ifc')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('ifclink')}? 'has-error'">
					<label for="ifclink" class="col-lg-2 control-label"
						th:text="#{Shows.ifclink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="ifclink"
							th:field="*{ifclink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('ifclink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('incanceledas')}? 'has-error'">
					<label for="incanceledas" class="col-lg-2 control-label"
						th:text="#{Shows.incanceledas} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="incanceledas"
							th:field="*{incanceledas}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('incanceledas')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('incanceledaslink')}? 'has-error'">
					<label for="incanceledaslink" class="col-lg-2 control-label"
						th:text="#{Shows.incanceledaslink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="incanceledaslink"
							th:field="*{incanceledaslink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('incanceledaslink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('intodos')}? 'has-error'">
					<label for="intodos" class="col-lg-2 control-label"
						th:text="#{Shows.intodos} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="intodos"
							th:field="*{intodos}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('intodos')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('itunes')}? 'has-error'">
					<label for="itunes" class="col-lg-2 control-label"
						th:text="#{Shows.itunes} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="itunes"
							th:field="*{itunes}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('itunes')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('ituneslink')}? 'has-error'">
					<label for="ituneslink" class="col-lg-2 control-label"
						th:text="#{Shows.ituneslink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="ituneslink"
							th:field="*{ituneslink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('ituneslink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('lastshow')}? 'has-error'">
					<label for="lastshow" class="col-lg-2 control-label"
						th:text="#{Shows.lastshow} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="lastshow"
							th:field="*{lastshow}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('lastshow')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('latestinroamionpl')}? 'has-error'">
					<label for="latestinroamionpl" class="col-lg-2 control-label"
						th:text="#{Shows.latestinroamionpl} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="latestinroamionpl"
							th:field="*{latestinroamionpl}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('latestinroamionpl')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('lep')}? 'has-error'">
					<label for="lep" class="col-lg-2 control-label"
						th:text="#{Shows.lep} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="lep"
							th:field="*{lep}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('lep')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('ls')}? 'has-error'">
					<label for="ls" class="col-lg-2 control-label"
						th:text="#{Shows.ls} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="ls"
							th:field="*{ls}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('ls')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('natgeo')}? 'has-error'">
					<label for="natgeo" class="col-lg-2 control-label"
						th:text="#{Shows.natgeo} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="natgeo"
							th:field="*{natgeo}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('natgeo')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('natgeolink')}? 'has-error'">
					<label for="natgeolink" class="col-lg-2 control-label"
						th:text="#{Shows.natgeolink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="natgeolink"
							th:field="*{natgeolink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('natgeolink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('nbc')}? 'has-error'">
					<label for="nbc" class="col-lg-2 control-label"
						th:text="#{Shows.nbc} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="nbc"
							th:field="*{nbc}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('nbc')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('nbclink')}? 'has-error'">
					<label for="nbclink" class="col-lg-2 control-label"
						th:text="#{Shows.nbclink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="nbclink"
							th:field="*{nbclink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('nbclink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('netflix')}? 'has-error'">
					<label for="netflix" class="col-lg-2 control-label"
						th:text="#{Shows.netflix} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="netflix"
							th:field="*{netflix}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('netflix')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('netflixlink')}? 'has-error'">
					<label for="netflixlink" class="col-lg-2 control-label"
						th:text="#{Shows.netflixlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="netflixlink"
							th:field="*{netflixlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('netflixlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('network')}? 'has-error'">
					<label for="network" class="col-lg-2 control-label"
						th:text="#{Shows.network} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="network"
							th:field="*{network}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('network')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('networklink')}? 'has-error'">
					<label for="networklink" class="col-lg-2 control-label"
						th:text="#{Shows.networklink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="networklink"
							th:field="*{networklink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('networklink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('onepasschan')}? 'has-error'">
					<label for="onepasschan" class="col-lg-2 control-label"
						th:text="#{Shows.onepasschan} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="onepasschan"
							th:field="*{onepasschan}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('onepasschan')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('pbs')}? 'has-error'">
					<label for="pbs" class="col-lg-2 control-label"
						th:text="#{Shows.pbs} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="pbs"
							th:field="*{pbs}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('pbs')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('pbslink')}? 'has-error'">
					<label for="pbslink" class="col-lg-2 control-label"
						th:text="#{Shows.pbslink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="pbslink"
							th:field="*{pbslink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('pbslink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('premiere')}? 'has-error'">
					<label for="premiere" class="col-lg-2 control-label"
						th:text="#{Shows.premiere} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="premiere"
							th:field="*{premiere}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('premiere')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('premieredate')}? 'has-error'">
					<label for="premieredate" class="col-lg-2 control-label"
						th:text="#{Shows.premieredate} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="premieredate"
							th:field="*{premieredate}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('premieredate')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('row')}? 'has-error'">
					<label for="row" class="col-lg-2 control-label"
						th:text="#{Shows.row} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="row"
							th:field="*{row}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('row')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('science')}? 'has-error'">
					<label for="science" class="col-lg-2 control-label"
						th:text="#{Shows.science} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="science"
							th:field="*{science}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('science')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('sciencelink')}? 'has-error'">
					<label for="sciencelink" class="col-lg-2 control-label"
						th:text="#{Shows.sciencelink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="sciencelink"
							th:field="*{sciencelink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('sciencelink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('status')}? 'has-error'">
					<label for="status" class="col-lg-2 control-label"
						th:text="#{Shows.status} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="status"
							th:field="*{status}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('status')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('syfy')}? 'has-error'">
					<label for="syfy" class="col-lg-2 control-label"
						th:text="#{Shows.syfy} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="syfy"
							th:field="*{syfy}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('syfy')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('syfylink')}? 'has-error'">
					<label for="syfylink" class="col-lg-2 control-label"
						th:text="#{Shows.syfylink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="syfylink"
							th:field="*{syfylink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('syfylink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('tnt')}? 'has-error'">
					<label for="tnt" class="col-lg-2 control-label"
						th:text="#{Shows.tnt} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tnt"
							th:field="*{tnt}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('tnt')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('tntlink')}? 'has-error'">
					<label for="tntlink" class="col-lg-2 control-label"
						th:text="#{Shows.tntlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tntlink"
							th:field="*{tntlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('tntlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('tododate')}? 'has-error'">
					<label for="tododate" class="col-lg-2 control-label"
						th:text="#{Shows.tododate} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tododate"
							th:field="*{tododate}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('tododate')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('tvcom')}? 'has-error'">
					<label for="tvcom" class="col-lg-2 control-label"
						th:text="#{Shows.tvcom} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tvcom"
							th:field="*{tvcom}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('tvcom')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('tvcomlink')}? 'has-error'">
					<label for="tvcomlink" class="col-lg-2 control-label"
						th:text="#{Shows.tvcomlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tvcomlink"
							th:field="*{tvcomlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('tvcomlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('twcondemand')}? 'has-error'">
					<label for="twcondemand" class="col-lg-2 control-label"
						th:text="#{Shows.twcondemand} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="twcondemand"
							th:field="*{twcondemand}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('twcondemand')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('twcondemandlink')}? 'has-error'">
					<label for="twcondemandlink" class="col-lg-2 control-label"
						th:text="#{Shows.twcondemandlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="twcondemandlink"
							th:field="*{twcondemandlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('twcondemandlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('usa')}? 'has-error'">
					<label for="usa" class="col-lg-2 control-label"
						th:text="#{Shows.usa} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="usa"
							th:field="*{usa}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('usa')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('usalink')}? 'has-error'">
					<label for="usalink" class="col-lg-2 control-label"
						th:text="#{Shows.usalink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="usalink"
							th:field="*{usalink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('usalink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('watchedto')}? 'has-error'">
					<label for="watchedto" class="col-lg-2 control-label"
						th:text="#{Shows.watchedto} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="watchedto"
							th:field="*{watchedto}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('watchedto')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('wep')}? 'has-error'">
					<label for="wep" class="col-lg-2 control-label"
						th:text="#{Shows.wep} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="wep"
							th:field="*{wep}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('wep')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('ws')}? 'has-error'">
					<label for="ws" class="col-lg-2 control-label"
						th:text="#{Shows.ws} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="ws"
							th:field="*{ws}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('ws')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('xbox')}? 'has-error'">
					<label for="xbox" class="col-lg-2 control-label"
						th:text="#{Shows.xbox} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="xbox"
							th:field="*{xbox}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('xbox')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('xboxlink')}? 'has-error'">
					<label for="xboxlink" class="col-lg-2 control-label"
						th:text="#{Shows.xboxlink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="xboxlink"
							th:field="*{xboxlink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('xboxlink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('youtube')}? 'has-error'">
					<label for="youtube" class="col-lg-2 control-label"
						th:text="#{Shows.youtube} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="youtube"
							th:field="*{youtube}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('youtube')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('youtubelink')}? 'has-error'">
					<label for="youtubelink" class="col-lg-2 control-label"
						th:text="#{Shows.youtubelink} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="youtubelink"
							th:field="*{youtubelink}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('youtubelink')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default" th:text="#{edit.save}"></button>
						<button type="submit" name="action" value="cancel" class="btn"
							th:text="#{edit.cancel}"></button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
