<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.edit} + ' ' + #{class.Networks}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:if="${networks.id == 0}"
			th:text="#{edit.new} + ' ' + #{class.Networks}"></h1>
		<h1 th:if="${networks.id > 0}"
			th:text="#{edit.edit} + ' ' + #{class.Networks}"></h1>
		<br />
		<form action="#" th:action="@{/networkss/save}" th:object="${networks}"
			method="post">

			<table >
				<tr th:if="${networks.id > 0}">				
					<td>id:</td>
					<td>
						<input type="text" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
            		<td>AndroidApp:</td>
					<td>
						<input type="text" th:field="*{androidapp}" />
					</td>
				</tr>
				<tr>
            		<td>AndroidAppLink:</td>
					<td>
						<input type="text" th:field="*{androidapplink}" />
					</td>
				</tr>
				<tr>
            		<td>Comment:</td>
					<td>
						<input type="text" th:field="*{comment}" />
					</td>
				</tr>
				<tr>
            		<td>CommentLink:</td>
					<td>
						<input type="text" th:field="*{commentlink}" />
					</td>
				</tr>
				<tr>
            		<td>Commercials:</td>
					<td>
						<input type="text" th:field="*{commercials}" />
					</td>
				</tr>
				<tr>
            		<td>CommercialsLink:</td>
					<td>
						<input type="text" th:field="*{commercialslink}" />
					</td>
				</tr>
				<tr>
            		<td>FireApp:</td>
					<td>
						<input type="text" th:field="*{fireapp}" />
					</td>
				</tr>
				<tr>
            		<td>FireAppLink:</td>
					<td>
						<input type="text" th:field="*{fireapplink}" />
					</td>
				</tr>
				<tr>
            		<td>FreeWithTwcId:</td>
					<td>
						<input type="text" th:field="*{freewithtwcid}" />
					</td>
				</tr>
				<tr>
            		<td>FreeWithTwcIdLink:</td>
					<td>
						<input type="text" th:field="*{freewithtwcidlink}" />
					</td>
				</tr>
				<tr>
            		<td>HasDirectBuyOption:</td>
					<td>
						<input type="text" th:field="*{hasdirectbuyoption}" />
					</td>
				</tr>
				<tr>
            		<td>HasDirectBuyOptionLink:</td>
					<td>
						<input type="text" th:field="*{hasdirectbuyoptionlink}" />
					</td>
				</tr>
				<tr>
            		<td>HasWatchList:</td>
					<td>
						<input type="text" th:field="*{haswatchlist}" />
					</td>
				</tr>
				<tr>
            		<td>ICanOta:</td>
					<td>
						<input type="text" th:field="*{icanota}" />
					</td>
				</tr>
				<tr>
            		<td>ICanOtaLink:</td>
					<td>
						<input type="text" th:field="*{icanotalink}" />
					</td>
				</tr>
				<tr>
            		<td>IptvService:</td>
					<td>
						<input type="text" th:field="*{iptvservice}" />
					</td>
				</tr>
				<tr>
            		<td>IptvServiceLink:</td>
					<td>
						<input type="text" th:field="*{iptvservicelink}" />
					</td>
				</tr>
				<tr>
            		<td>OnHulu:</td>
					<td>
						<input type="text" th:field="*{onhulu}" />
					</td>
				</tr>
				<tr>
            		<td>OnHuluLink:</td>
					<td>
						<input type="text" th:field="*{onhululink}" />
					</td>
				</tr>
				<tr>
            		<td>Persistance:</td>
					<td>
						<input type="text" th:field="*{persistance}" />
					</td>
				</tr>
				<tr>
            		<td>RemembersPlaceInEpisode:</td>
					<td>
						<input type="text" th:field="*{remembersplaceinepisode}" />
					</td>
				</tr>
				<tr>
            		<td>RemembersWatchedEpisodes:</td>
					<td>
						<input type="text" th:field="*{rememberswatchedepisodes}" />
					</td>
				</tr>
				<tr>
            		<td>RokuApp:</td>
					<td>
						<input type="text" th:field="*{rokuapp}" />
					</td>
				</tr>
				<tr>
            		<td>RokuAppLink:</td>
					<td>
						<input type="text" th:field="*{rokuapplink}" />
					</td>
				</tr>
				<tr>
            		<td>ShowsInTivoNpl:</td>
					<td>
						<input type="text" th:field="*{showsintivonpl}" />
					</td>
				</tr>
				<tr>
            		<td>Site:</td>
					<td>
						<input type="text" th:field="*{site}" />
					</td>
				</tr>
				<tr>
            		<td>SiteLink:</td>
					<td>
						<input type="text" th:field="*{sitelink}" />
					</td>
				</tr>
				<tr>
            		<td>StandardWait:</td>
					<td>
						<input type="text" th:field="*{standardwait}" />
					</td>
				</tr>
				<tr>
            		<td>TivoApp:</td>
					<td>
						<input type="text" th:field="*{tivoapp}" />
					</td>
				</tr>
				<tr>
            		<td>TivoAppLink:</td>
					<td>
						<input type="text" th:field="*{tivoapplink}" />
					</td>
				</tr>
				<tr>
            		<td>TivoShortName:</td>
					<td>
						<input type="text" th:field="*{tivoshortname}" />
					</td>
				</tr>
				<tr>
            		<td>WebInterface:</td>
					<td>
						<input type="text" th:field="*{webinterface}" />
					</td>
				</tr>
				<tr>
            		<td>WebInterfaceLink:</td>
					<td>
						<input type="text" th:field="*{webinterfacelink}" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" name="action" value="save" th:text="#{edit.save}"></button> <button type="submit" name="action" value="cancel" th:text="#{edit.cancel}"></button></td>
				</tr>
			</table>
		</form>
	</div>
