<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{edit.edit} + ' ' + #{class.Shows}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/showss/save}" th:object="${showsForm}"
			th:fragment="showsForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${showsForm.*}')}">
				<div th:each="fieldErrors : ${#fields.errors('${showsForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:unless="${showsForm.id > 0}"
					th:text="#{edit.new} + ' ' + #{class.Shows}"></legend>
				<legend th:if="${showsForm.id > 0}"
					th:text="#{edit.edit} + ' ' + #{class.Shows}"></legend>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cancelled')}? 'has-error'">
					<label for="cancelled" class="col-lg-2 control-label"
						th:text="#{Shows.cancelled} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cancelled"
							th:field="*{cancelled}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('cancelled')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('epguidesshowname')}? 'has-error'">
					<label for="epguidesshowname" class="col-lg-2 control-label"
						th:text="#{Shows.epguidesshowname} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="epguidesshowname"
							th:field="*{epguidesshowname}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('epguidesshowname')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<input type="hidden" class="form-control" id="id" th:field="*{id}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('incanceledas')}? 'has-error'">
					<label for="incanceledas" class="col-lg-2 control-label"
						th:text="#{Shows.incanceledas} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="incanceledas"
							th:field="*{incanceledas}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('incanceledas')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('lastshow')}? 'has-error'">
					<label for="lastshow" class="col-lg-2 control-label"
						th:text="#{Shows.lastshow} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="lastshow"
							th:field="*{lastshow}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('lastshow')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('network')}? 'has-error'">
					<label for="network" class="col-lg-2 control-label"
						th:text="#{Shows.network} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="network"
							th:field="*{network}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('network')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('premiere')}? 'has-error'">
					<label for="premiere" class="col-lg-2 control-label"
						th:text="#{Shows.premiere} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="premiere"
							th:field="*{premiere}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('premiere')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('premieredate')}? 'has-error'">
					<label for="premieredate" class="col-lg-2 control-label"
						th:text="#{Shows.premieredate} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="premieredate"
							th:field="*{premieredate}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('premieredate')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('status')}? 'has-error'">
					<label for="status" class="col-lg-2 control-label"
						th:text="#{Shows.status} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="status"
							th:field="*{status}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('status')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('tivoname')}? 'has-error'">
					<label for="tivoname" class="col-lg-2 control-label"
						th:text="#{Shows.tivoname} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tivoname"
							th:field="*{tivoname}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('tivoname')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default" th:text="#{edit.save}"></button>
						<button type="submit" name="action" value="cancel" class="btn"
							th:text="#{edit.cancel}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
