<!DOCTYPE html><html lang="en" xmlns:th="http://www.thymeleaf.org"><head>    <meta charset="UTF-8"/>    <title>watchlist | Home</title>    <link th:href="@{/css/site.css}" rel="stylesheet"/></head><body>
    	<a th:href="@{/networkss}">Networks</a><br>
    	<a th:href="@{/showss}">Shows</a><br>
    	<a th:href="@{/roamiosps}">Roamiosp</a><br>
    	<a th:href="@{/cablecards}">Cablecard</a><br>
    	<a th:href="@{/roamionpls}">Roamionpl</a><br>
    	<a th:href="@{/otas}">Ota</a><br>
    	<a th:href="@{/roamiotodos}">Roamiotodo</a><br>
    	<a th:href="@{/api/}">/api/</a><br>
    	<a th:href="@{/login}">Login</a><br>
