<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{edit.listView} + ' ' + #{class.NetworksUser}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

	<div class="container" th:with="SearchForm=${session.networksUserSearchForm}">
		<h1 th:text="#{class.NetworksUser} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/networksUsers/search}" th:text="#{search.search} + ' ' + #{class.NetworksUser}"></a> <br />
		<a th:href="@{/networksUsers/new}" th:text="#{edit.new} + ' ' + #{class.NetworksUser}"></a> <br /><br />

	    <table>
	        <tr>
            <th>
				<a th:if="${SearchForm.sortField == 'iusefreefreewithcablepayforhuluinstead'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=iusefreefreewithcablepayforhuluinstead&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{NetworksUser.iusefreefreewithcablepayforhuluinstead}">IUseFReeFreeWithCAblePAyForHUluInstead</a>
					<a th:if="${SearchForm.sortField != 'iusefreefreewithcablepayforhuluinstead'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=iusefreefreewithcablepayforhuluinstead&sortDir=asc'}"
					th:text="#{NetworksUser.iusefreefreewithcablepayforhuluinstead}">IUseFReeFreeWithCAblePAyForHUluInstead</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'commercials'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=commercials&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Networks.commercials}">Commercials</a>
					<a th:if="${SearchForm.sortField != 'commercials'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=commercials&sortDir=asc'}"
					th:text="#{Networks.commercials}">Commercials</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'onhulu'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=onhulu&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Networks.onhulu}">OnHulu</a>
					<a th:if="${SearchForm.sortField != 'onhulu'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=onhulu&sortDir=asc'}"
					th:text="#{Networks.onhulu}">OnHulu</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'persistance'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=persistance&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Networks.persistance}">Persistance</a>
					<a th:if="${SearchForm.sortField != 'persistance'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=persistance&sortDir=asc'}"
					th:text="#{Networks.persistance}">Persistance</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'rokuapp'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=rokuapp&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Networks.rokuapp}">RokuApp</a>
					<a th:if="${SearchForm.sortField != 'rokuapp'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=rokuapp&sortDir=asc'}"
					th:text="#{Networks.rokuapp}">RokuApp</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'site'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=site&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Networks.site}">Site</a>
					<a th:if="${SearchForm.sortField != 'site'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=site&sortDir=asc'}"
					th:text="#{Networks.site}">Site</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'standardwait'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=standardwait&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Networks.standardwait}">StandardWait</a>
					<a th:if="${SearchForm.sortField != 'standardwait'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=standardwait&sortDir=asc'}"
					th:text="#{Networks.standardwait}">StandardWait</a>
            </th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" >
				<a th:if="${SearchForm.sortField == 'email'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=email&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Account.email}">Email</a>
					<a th:if="${SearchForm.sortField != 'email'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=email&sortDir=asc'}"
					th:text="#{Account.email}">Email</a>
            </th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" >
				<a th:if="${SearchForm.sortField == 'role'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=role&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Account.role}">Role</a>
					<a th:if="${SearchForm.sortField != 'role'}"
					th:href="@{'/networksUsers/search/' + ${SearchForm.page} + '?sortField=role&sortDir=asc'}"
					th:text="#{Account.role}">Role</a>
            </th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="networksUser:${networksUsers}">
	            <td th:if="${networksUser != null}" th:text="${networksUser.iusefreefreewithcablepayforhuluinstead}"></td>
				<td th:unless="${networksUser != null}"></td>
	            <td th:if="${networksUser.networks != null}"><a th:href="@{${networksUser.networks.commercialslink}}" th:text="${networksUser.networks.commercials}"></a></td>
				<td th:unless="${networksUser.networks != null}"></td>
	            <td th:if="${networksUser.networks != null}"><a th:href="@{${networksUser.networks.onhululink}}" th:text="${networksUser.networks.onhulu}"></a></td>
				<td th:unless="${networksUser.networks != null}"></td>
	            <td th:if="${networksUser.networks != null}" th:text="${networksUser.networks.persistance}"></td>
				<td th:unless="${networksUser.networks != null}"></td>
	            <td th:if="${networksUser.networks != null}"><a th:href="@{${networksUser.networks.rokuapplink}}" th:text="${networksUser.networks.rokuapp}"></a></td>
				<td th:unless="${networksUser.networks != null}"></td>
	            <td th:if="${networksUser.networks != null}"><a th:href="@{${networksUser.networks.sitelink}}" th:text="${networksUser.networks.site}"></a></td>
				<td th:unless="${networksUser.networks != null}"></td>
	            <td th:if="${networksUser.networks != null}" th:text="${networksUser.networks.standardwait}"></td>
				<td th:unless="${networksUser.networks != null}"></td>
	            <td th:if="${networksUser.account != null}" sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${networksUser.account.email}"></td>
				<td th:unless="${networksUser.account != null}"></td>
	            <td th:if="${networksUser.account != null}" sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${networksUser.account.role}"></td>
				<td th:unless="${networksUser.account != null}"></td>
				<td><a th:href="@{'/networksUsers/edit/' + ${networksUser.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/networksUsers/delete/' + ${networksUser.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
		<div th:if="${SearchForm.page > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Rows:
					[[${SearchForm.totalItems}]]</div>
				<div class="col-sm-1">
					<span
						th:each="i: ${#numbers.sequence(1, SearchForm.totalPages)}">
						<a th:if="${SearchForm.page != i}"
						th:href="@{'/networksUsers/search/' + ${i}+ '?sortField=' + ${SearchForm.sortField} + '&sortDir=' + ${SearchForm.sortDir}}">[[${i}]]</a>
						<span th:unless="${SearchForm.page != i}">[[${i}]]</span>
						&nbsp; &nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a
						th:if="${SearchForm.page < SearchForm.totalPages}"
						th:href="@{'/networksUsers/search/' + ${SearchForm.page + 1}+ '?sortField=' + ${SearchForm.sortField} + '&sortDir=' + ${SearchForm.sortDir}}">Next</a>
					<span
						th:unless="${SearchForm.page < SearchForm.totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a
						th:if="${SearchForm.page < SearchForm.totalPages}"
						th:href="@{'/networksUsers/search/' + ${SearchForm.totalPages}+ '?sortField=' + ${SearchForm.sortField} + '&sortDir=' + ${SearchForm.sortDir}}">Last</a>
					<span
						th:unless="${SearchForm.page < SearchForm.totalPages}">Last</span>
				</div>
			</div>
		</div>

    </div>

	</div>	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
