<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.listView} + ' ' + #{class.Networksuser}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:text="#{class.Networksuser} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/networksusers/new}" th:text="#{edit.new} + ' ' + #{class.Networksuser}"></a> <br /><br />

	    <table>
	        <tr>
            <th th:text="#{Networksuser.iusefreefreewithcablepayforhuluinstead}">IUseFReeFreeWithCAblePAyForHUluInstead</th>
            <th th:text="#{Networks.commercials}">Commercials</th>
            <th th:text="#{Networks.onhulu}">OnHulu</th>
            <th th:text="#{Networks.persistance}">Persistance</th>
            <th th:text="#{Networks.rokuapp}">RokuApp</th>
            <th th:text="#{Networks.site}">Site</th>
            <th th:text="#{Networks.standardwait}">StandardWait</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')"  th:text="#{Account.email}">Email</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')"  th:text="#{Account.role}">Role</th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="networksuser:${networksusers}">
	            <td th:if="${networksuser != null}" th:text="${networksuser.iusefreefreewithcablepayforhuluinstead}"></td>
				<td th:unless="${networksuser != null}"></td>
	            <td th:if="${networksuser.networks != null}"><a th:href="@{${networksuser.networks.commercialslink}}" th:text="${networksuser.networks.commercials}"></a></td>
				<td th:unless="${networksuser.networks != null}"></td>
	            <td th:if="${networksuser.networks != null}"><a th:href="@{${networksuser.networks.onhululink}}" th:text="${networksuser.networks.onhulu}"></a></td>
				<td th:unless="${networksuser.networks != null}"></td>
	            <td th:if="${networksuser.networks != null}" th:text="${networksuser.networks.persistance}"></td>
				<td th:unless="${networksuser.networks != null}"></td>
	            <td th:if="${networksuser.networks != null}"><a th:href="@{${networksuser.networks.rokuapplink}}" th:text="${networksuser.networks.rokuapp}"></a></td>
				<td th:unless="${networksuser.networks != null}"></td>
	            <td th:if="${networksuser.networks != null}"><a th:href="@{${networksuser.networks.sitelink}}" th:text="${networksuser.networks.site}"></a></td>
				<td th:unless="${networksuser.networks != null}"></td>
	            <td th:if="${networksuser.networks != null}" th:text="${networksuser.networks.standardwait}"></td>
				<td th:unless="${networksuser.networks != null}"></td>
	            <td th:if="${networksuser.account != null}" sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${networksuser.account.email}"></td>
				<td th:unless="${networksuser.account != null}"></td>
	            <td th:if="${networksuser.account != null}" sec:authorize="hasRole('ROLE_ADMIN')"  th:text="${networksuser.account.role}"></td>
				<td th:unless="${networksuser.account != null}"></td>
				<td><a th:href="@{'/networksusers/edit/' + ${networksuser.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/networksusers/delete/' + ${networksuser.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
    </div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
