<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.listView} + ' ' + #{class.Networks}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:text="#{class.Networks} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/networkss/new}" th:text="#{edit.new} + ' ' + #{class.Networks}"></a> <br /><br />

	    <table>
	        <tr>
            <th th:text="#{Networks.rokuapp}">RokuApp</th>
            <th th:text="#{Networks.site}">Site</th>
            <th th:text="#{Networks.commercials}">Commercials</th>
            <th th:text="#{Networks.persistance}">Persistance</th>
            <th th:text="#{Networks.onhulu}">OnHulu</th>
            <th th:text="#{Networks.standardwait}">StandardWait</th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="networks:${networkss}">
	            <td><a th:href="@{${networks.rokuapplink}}" th:text="${networks.rokuapp}"></a></td>
	            <td><a th:href="@{${networks.sitelink}}" th:text="${networks.site}"></a></td>
	            <td><a th:href="@{${networks.commercialslink}}" th:text="${networks.commercials}"></a></td>
	            <td th:text="${networks.persistance}"></td>
	            <td><a th:href="@{${networks.onhululink}}" th:text="${networks.onhulu}"></a></td>
	            <td th:text="${networks.standardwait}"></td>
				<td><a th:href="@{'/networkss/edit/' + ${networks.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/networkss/delete/' + ${networks.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
    </div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
