<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.listView} + ' ' + #{class.Ota}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:text="#{class.Ota} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/otas/new}" th:text="#{edit.new} + ' ' + #{class.Ota}"></a> <br /><br />

	    <table>
	        <tr>
            <th th:text="#{Ota.chan}">Chan</th>
            <th th:text="#{Ota.channelname}">ChannelName</th>
            <th th:text="#{Ota.channelnumber}">ChannelNumber</th>
            <th th:text="#{Ota.comments}">Comments</th>
            <th th:text="#{Ota.direction}">Direction</th>
            <th th:text="#{Ota.enabled}">Enabled</th>
            <th th:text="#{Ota.fccinfo}">FccInfo</th>
            <th th:text="#{Ota.freq}">Freq</th>
            <th th:text="#{Ota.id}">id</th>
            <th th:text="#{Ota.lang}">Lang</th>
            <th th:text="#{Ota.listed}">Listed</th>
            <th th:text="#{Ota.mytivoavgstrength}">MyTivoAvgStrength</th>
            <th th:text="#{Ota.network}">Network</th>
            <th th:text="#{Ota.off}">Off</th>
            <th th:text="#{Ota.recommendedantenna}">RecommendedAntenna</th>
            <th th:text="#{Ota.rez}">Rez</th>
            <th th:text="#{Ota.station}">Station</th>
            <th th:text="#{Ota.subchan}">SubChan</th>
            <th th:text="#{Ota.tvfoolestsignal}">TvFoolEstSignal</th>
            <th th:text="#{Ota.watchable}">Watchable</th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="ota:${otas}">
	            <td th:text="${ota.chan}"></td>
	            <td th:text="${ota.channelname}"></td>
	            <td th:text="${ota.channelnumber}"></td>
	            <td th:text="${ota.comments}"></td>
	            <td th:text="${ota.direction}"></td>
	            <td th:text="${ota.enabled}"></td>
	            <td><a th:href="@{${ota.fccinfolink}}" th:text="${ota.fccinfo}"></a></td>
	            <td th:text="${ota.freq}"></td>
	            <td th:text="${ota.id}"></td>
	            <td th:text="${ota.lang}"></td>
	            <td th:text="${ota.listed}"></td>
	            <td th:text="${ota.mytivoavgstrength}"></td>
	            <td th:text="${ota.network}"></td>
	            <td th:text="${ota.off}"></td>
	            <td th:text="${ota.recommendedantenna}"></td>
	            <td th:text="${ota.rez}"></td>
	            <td th:text="${ota.station}"></td>
	            <td th:text="${ota.subchan}"></td>
	            <td th:text="${ota.tvfoolestsignal}"></td>
	            <td th:text="${ota.watchable}"></td>
				<td><a th:href="@{'/otas/edit/' + ${ota.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/otas/delete/' + ${ota.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
    </div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
