<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.listView} + ' ' + #{class.Roamiosp}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:text="#{class.Roamiosp} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/roamiosps/new}" th:text="#{edit.new} + ' ' + #{class.Roamiosp}"></a> <br /><br />

	    <table>
	        <tr>
            <th th:text="#{Roamiosp.channel}">Channel</th>
            <th th:text="#{Roamiosp.end}">End</th>
            <th th:text="#{Roamiosp.id}">id</th>
            <th th:text="#{Roamiosp.include}">Include</th>
            <th th:text="#{Roamiosp.keep}">Keep</th>
            <th th:text="#{Roamiosp.num}">Num</th>
            <th th:text="#{Roamiosp.priority}">Priority</th>
            <th th:text="#{Roamiosp.record}">Record</th>
            <th th:text="#{Roamiosp.season}">Season</th>
            <th th:text="#{Roamiosp.show}">Show</th>
            <th th:text="#{Roamiosp.start}">Start</th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="roamiosp:${roamiosps}">
	            <td th:text="${roamiosp.channel}"></td>
	            <td th:text="${roamiosp.end}"></td>
	            <td th:text="${roamiosp.id}"></td>
	            <td th:text="${roamiosp.include}"></td>
	            <td th:text="${roamiosp.keep}"></td>
	            <td th:text="${roamiosp.num}"></td>
	            <td th:text="${roamiosp.priority}"></td>
	            <td th:text="${roamiosp.record}"></td>
	            <td th:text="${roamiosp.season}"></td>
	            <td th:text="${roamiosp.show}"></td>
	            <td th:text="${roamiosp.start}"></td>
				<td><a th:href="@{'/roamiosps/edit/' + ${roamiosp.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/roamiosps/delete/' + ${roamiosp.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
    </div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
