<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.listView} + ' ' + #{class.Roamiotodo}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:text="#{class.Roamiotodo} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/roamiotodos/new}" th:text="#{edit.new} + ' ' + #{class.Roamiotodo}"></a> <br /><br />

	    <table>
	        <tr>
            <th>Channel</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Ep</th>
            <th>EpisodeName</th>
            <th>id</th>
            <th>ShowName</th>
            <th>ShowTrimmed</th>
            <th>Actions</th>
	        </tr>
	        <tr th:each="roamiotodo:${roamiotodos}">
	            <td th:text="${roamiotodo.channel}"></td>
	            <td th:text="${roamiotodo.date}"></td>
	            <td th:text="${roamiotodo.duration}"></td>
	            <td th:text="${roamiotodo.ep}"></td>
	            <td th:text="${roamiotodo.episodename}"></td>
	            <td th:text="${roamiotodo.id}"></td>
	            <td th:text="${roamiotodo.showname}"></td>
	            <td th:text="${roamiotodo.showtrimmed}"></td>
				<td><a th:href="@{'/roamiotodos/edit/' + ${roamiotodo.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/roamiotodos/delete/' + ${roamiotodo.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
    </div>

