<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.listView} + ' ' + #{class.Roamionpl}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:text="#{class.Roamionpl} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/roamionpls/new}" th:text="#{edit.new} + ' ' + #{class.Roamionpl}"></a> <br /><br />

	    <table>
	        <tr>
            <th th:text="#{Roamionpl.bitratembps}">BitrateMbps</th>
            <th th:text="#{Roamionpl.channel}">Channel</th>
            <th th:text="#{Roamionpl.date}">Date</th>
            <th th:text="#{Roamionpl.duration}">Duration</th>
            <th th:text="#{Roamionpl.episode}">Episode</th>
            <th th:text="#{Roamionpl.id}">id</th>
            <th th:text="#{Roamionpl.isnew}">Isnew</th>
            <th th:text="#{Roamionpl.show}">Show</th>
            <th th:text="#{Roamionpl.sizegb}">SizeGb</th>
            <th th:text="#{Roamionpl.sortabledate}">SortableDate</th>
            <th th:text="#{Roamionpl.title}">Title</th>
            <th th:text="#{Roamionpl.watchedtime}">Watchedtime</th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="roamionpl:${roamionpls}">
	            <td th:text="${roamionpl.bitratembps}"></td>
	            <td th:text="${roamionpl.channel}"></td>
	            <td th:text="${roamionpl.date}"></td>
	            <td th:text="${roamionpl.duration}"></td>
	            <td th:text="${roamionpl.episode}"></td>
	            <td th:text="${roamionpl.id}"></td>
	            <td th:text="${roamionpl.isnew}"></td>
	            <td th:text="${roamionpl.show}"></td>
	            <td th:text="${roamionpl.sizegb}"></td>
	            <td th:text="${roamionpl.sortabledate}"></td>
	            <td th:text="${roamionpl.title}"></td>
	            <td th:text="${roamionpl.watchedtime}"></td>
				<td><a th:href="@{'/roamionpls/edit/' + ${roamionpl.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/roamionpls/delete/' + ${roamionpl.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
    </div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
