<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{search.advanced} + ' ' + #{class.ShowsUser}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/showsUsers/search}" 
			th:object="${showsUserSearchForm}"
			th:fragment="showsUserSearchForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${showsUserSearchForm.*}')}">
				<div 
					th:each="fieldErrors : ${#fields.errors('${showsUserSearchForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:text="#{search.advanced} + ' ' + #{class.ShowsUser}"></legend>

				<div class="form-group">
					<label for="showsUserSearchForm.doOr"
						th:text="#{search.doOr} + ' ' + #{search.like}">Select
						type</label> <select class="form-control selectpicker" th:field="*{doOr}"
						id="showsUserSearchForm.doOr">
						<option
							th:each="doOr : ${T(com.dea42.watchlist.search.SearchType).values()}"
							th:value="${doOr}" th:text="${doOr}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="bestexperience" class="col-lg-2 control-label"
						th:text="#{ShowsUser.bestexperience} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="bestexperience"
							th:field="*{bestexperience}" />
					</div>
				</div>

				<div class="form-group">
					<label for="comment" class="col-lg-2 control-label"
						th:text="#{ShowsUser.comment} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="comment"
							th:field="*{comment}" />
					</div>
				</div>

				<div class="form-group">
					<label for="imdb" class="col-lg-2 control-label"
						th:text="#{ShowsUser.imdb} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="imdb"
							th:field="*{imdb}" />
					</div>
				</div>

				<div class="form-group">
					<label for="inrokufeed" class="col-lg-2 control-label"
						th:text="#{ShowsUser.inrokufeed} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="inrokufeed"
							th:field="*{inrokufeed}" />
					</div>
				</div>

				<div class="form-group">
					<label for="inshowrssas" class="col-lg-2 control-label"
						th:text="#{ShowsUser.inshowrssas} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="inshowrssas"
							th:field="*{inshowrssas}" />
					</div>
				</div>

				<div class="form-group">
					<label for="justwatch" class="col-lg-2 control-label"
						th:text="#{ShowsUser.justwatch} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="justwatch"
							th:field="*{justwatch}" />
					</div>
				</div>

				<div class="form-group">
					<label for="lastwatched" class="col-lg-2 control-label"
						th:text="#{ShowsUser.lastwatched} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="lastwatched"
							th:field="*{lastwatched}" />
					</div>
				</div>

				<div class="form-group">
					<label for="n67" class="col-lg-2 control-label"
						th:text="#{ShowsUser.n67} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="n67"
							th:field="*{n67}" />
					</div>
				</div>

				<div class="form-group">
					<label for="ota" class="col-lg-2 control-label"
						th:text="#{ShowsUser.ota} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="ota"
							th:field="*{ota}" />
					</div>
				</div>

				<div class="form-group">
					<label for="showsUserSearchForm.shows.cancelled" class="col-lg-2 control-label"
						th:text="#{Shows.cancelled} + ':'"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10" id="showsUserSearchForm.shows.cancelled"
	                        th:text="${showsUserSearchForm.shows.cancelled}">
					</div>
				<div th:unless="${showsUserSearchForm.shows != null}" th:text="${showsUserSearchForm.shows}"></div>
				</div>
				<div class="form-group">
					<label for="showsUserSearchForm.shows.epguidesshowname" class="col-lg-2 control-label"
						th:text="#{Shows.epguidesshowname} + ':'"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10" id="showsUserSearchForm.shows.epguidesshowname"
	                        th:text="${showsUserSearchForm.shows.epguidesshowname}">
					</div>
				<div th:unless="${showsUserSearchForm.shows != null}" th:text="${showsUserSearchForm.shows}"></div>
				</div>
				<input type="hidden" class="form-control" id="shows.id" />
				<div class="form-group">
					<label for="showsUserSearchForm.shows.incanceledas" class="col-lg-2 control-label"
						th:text="#{Shows.incanceledas} + ':'"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10" id="showsUserSearchForm.shows.incanceledas"
	                        th:text="${showsUserSearchForm.shows.incanceledas}">
					</div>
				<div th:unless="${showsUserSearchForm.shows != null}" th:text="${showsUserSearchForm.shows}"></div>
				</div>
				<div class="form-group">
					<label for="showsUserSearchForm.shows.lastshow" class="col-lg-2 control-label"
						th:text="#{Shows.lastshow} + ':'"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10" id="showsUserSearchForm.shows.lastshow"
	                        th:text="${showsUserSearchForm.shows.lastshow}">
					</div>
				<div th:unless="${showsUserSearchForm.shows != null}" th:text="${showsUserSearchForm.shows}"></div>
				</div>
				<div class="form-group">
					<label for="showsUserSearchForm.shows.network" class="col-lg-2 control-label"
						th:text="#{Shows.network} + ':'"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10" id="showsUserSearchForm.shows.network"
	                        th:text="${showsUserSearchForm.shows.network}">
					</div>
				<div th:unless="${showsUserSearchForm.shows != null}" th:text="${showsUserSearchForm.shows}"></div>
				</div>
				<div class="form-group">
					<label for="showsUserSearchForm.shows.premiere" class="col-lg-2 control-label"
						th:text="#{Shows.premiere} + ':'"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10" id="showsUserSearchForm.shows.premiere"
	                        th:text="${showsUserSearchForm.shows.premiere}">
					</div>
				<div th:unless="${showsUserSearchForm.shows != null}" th:text="${showsUserSearchForm.shows}"></div>
				</div>
				<div class="form-group">
					<label for="showsUserSearchForm.shows.premieredateMin" class="col-lg-2 control-label"
						th:text="#{Shows.premieredate} + ' ' + #{search.after}"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10">
						<input type="text" class="form-control" id="showsUserSearchForm.shows.premieredateMin"
							th:field="*{shows.premieredateMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="showsUserSearchForm.shows.premieredateMax" class="col-lg-2 control-label"
						th:text="#{Shows.premieredate} + ' ' + #{search.before}"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10">
						<input type="text" class="form-control" id="showsUserSearchForm.shows.premieredateMax"
							th:field="*{shows.premieredateMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="showsUserSearchForm.shows.status" class="col-lg-2 control-label"
						th:text="#{Shows.status} + ':'"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10" id="showsUserSearchForm.shows.status"
	                        th:text="${showsUserSearchForm.shows.status}">
					</div>
				<div th:unless="${showsUserSearchForm.shows != null}" th:text="${showsUserSearchForm.shows}"></div>
				</div>
				<div class="form-group">
					<label for="showsUserSearchForm.shows.tivoname" class="col-lg-2 control-label"
						th:text="#{Shows.tivoname} + ':'"></label>
					<div th:if="${showsUserSearchForm.shows != null}" class="col-lg-10" id="showsUserSearchForm.shows.tivoname"
	                        th:text="${showsUserSearchForm.shows.tivoname}">
					</div>
				<div th:unless="${showsUserSearchForm.shows != null}" th:text="${showsUserSearchForm.shows}"></div>
				</div>
				<div class="form-group">
					<label for="tablolink" class="col-lg-2 control-label"
						th:text="#{ShowsUser.tablolink} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tablolink"
							th:field="*{tablolink}" />
					</div>
				</div>

				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="showsUserSearchForm.account.email" class="col-lg-2 control-label"
						th:text="#{Account.email} + ':'"></label>
					<div th:if="${showsUserSearchForm.account != null}" class="col-lg-10" id="showsUserSearchForm.account.email"
	                        th:text="${showsUserSearchForm.account.email}">
					</div>
				<div th:unless="${showsUserSearchForm.account != null}" th:text="${showsUserSearchForm.account}"></div>
				</div>
				<input type="hidden" class="form-control" id="account.id" />
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="showsUserSearchForm.account.name" class="col-lg-2 control-label"
						th:text="#{Account.name} + ':'"></label>
					<div th:if="${showsUserSearchForm.account != null}" class="col-lg-10" id="showsUserSearchForm.account.name"
	                        th:text="${showsUserSearchForm.account.name}">
					</div>
				<div th:unless="${showsUserSearchForm.account != null}" th:text="${showsUserSearchForm.account}"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="showsUserSearchForm.account.password" class="col-lg-2 control-label"
						th:text="#{Account.password} + ':'"></label>
					<div th:if="${showsUserSearchForm.account != null}" class="col-lg-10" id="showsUserSearchForm.account.password"
	                        th:text="${showsUserSearchForm.account.password}">
					</div>
				<div th:unless="${showsUserSearchForm.account != null}" th:text="${showsUserSearchForm.account}"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="showsUserSearchForm.account.userrole" class="col-lg-2 control-label"
						th:text="#{Account.userrole} + ':'"></label>
					<div th:if="${showsUserSearchForm.account != null}" class="col-lg-10" id="showsUserSearchForm.account.userrole"
	                        th:text="${showsUserSearchForm.account.userrole}">
					</div>
				<div th:unless="${showsUserSearchForm.account != null}" th:text="${showsUserSearchForm.account}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="search"
							class="btn btn-default" th:text="#{search.search}"></button>
						<button type="submit" name="action" value="reset"
							class="btn btn-default" th:text="#{search.reset}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
