<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{search.advanced} + ' ' + #{class.Ota}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/otas/search}" 
			th:object="${otaSearchForm}"
			th:fragment="otaSearchForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${otaSearchForm.*}')}">
				<div 
					th:each="fieldErrors : ${#fields.errors('${otaSearchForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:text="#{search.advanced} + ' ' + #{class.Ota}"></legend>

				<div class="form-group">
					<label for="otaSearchForm.doOr"
						th:text="#{search.doOr} + ' ' + #{search.like}">Select
						type</label> <select class="form-control selectpicker" th:field="*{doOr}"
						id="otaSearchForm.doOr">
						<option
							th:each="doOr : ${T(com.dea42.watchlist.search.SearchType).values()}"
							th:value="${doOr}" th:text="${doOr}"></option>
					</select>
				</div>

<!-- info=ColInfo(fNum=14, colName=AtticAnt, msgKey=Ota.atticant, vName=atticant, type=Integer, jtype=null, stype=4, gsName=Atticant, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="atticantMin" class="col-lg-2 control-label"
						th:text="#{Ota.atticant} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="atticantMin"
							th:field="*{atticantMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="atticantMax" class="col-lg-2 control-label"
						th:text="#{Ota.atticant} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="atticantMax"
							th:field="*{atticantMax}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=5, colName=Chan, msgKey=Ota.chan, vName=chan, type=Integer, jtype=null, stype=4, gsName=Chan, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="chanMin" class="col-lg-2 control-label"
						th:text="#{Ota.chan} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="chanMin"
							th:field="*{chanMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="chanMax" class="col-lg-2 control-label"
						th:text="#{Ota.chan} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="chanMax"
							th:field="*{chanMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="channelname" class="col-lg-2 control-label"
						th:text="#{Ota.channelname} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="channelname"
							th:field="*{channelname}" />
					</div>
				</div>

				<div class="form-group">
					<label for="channelnumber" class="col-lg-2 control-label"
						th:text="#{Ota.channelnumber} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="channelnumber"
							th:field="*{channelnumber}" />
					</div>
				</div>

				<div class="form-group">
					<label for="channelnumberchannelnameincluded" class="col-lg-2 control-label"
						th:text="#{Ota.channelnumberchannelnameincluded} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="channelnumberchannelnameincluded"
							th:field="*{channelnumberchannelnameincluded}" />
					</div>
				</div>

				<div class="form-group">
					<label for="comments" class="col-lg-2 control-label"
						th:text="#{Ota.comments} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="comments"
							th:field="*{comments}" />
					</div>
				</div>

				<div class="form-group">
					<label for="direction" class="col-lg-2 control-label"
						th:text="#{Ota.direction} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="direction"
							th:field="*{direction}" />
					</div>
				</div>

				<div class="form-group">
					<label for="enabled" class="col-lg-2 control-label"
						th:text="#{Ota.enabled} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="enabled"
							th:field="*{enabled}" />
					</div>
				</div>

				<div class="form-group">
					<label for="fccinfo" class="col-lg-2 control-label"
						th:text="#{Ota.fccinfo} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="fccinfo"
							th:field="*{fccinfo}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=12, colName=Freq, msgKey=Ota.freq, vName=freq, type=Integer, jtype=null, stype=4, gsName=Freq, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="freqMin" class="col-lg-2 control-label"
						th:text="#{Ota.freq} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="freqMin"
							th:field="*{freqMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="freqMax" class="col-lg-2 control-label"
						th:text="#{Ota.freq} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="freqMax"
							th:field="*{freqMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="langfield" class="col-lg-2 control-label"
						th:text="#{Ota.langfield} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="langfield"
							th:field="*{langfield}" />
					</div>
				</div>

				<div class="form-group">
					<label for="listed" class="col-lg-2 control-label"
						th:text="#{Ota.listed} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="checkbox" class="form-control" id="listed"
							th:checked="*{listed}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=13, colName=MyTivoAvgStrength, msgKey=Ota.mytivoavgstrength, vName=mytivoavgstrength, type=Integer, jtype=null, stype=4, gsName=Mytivoavgstrength, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="mytivoavgstrengthMin" class="col-lg-2 control-label"
						th:text="#{Ota.mytivoavgstrength} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="mytivoavgstrengthMin"
							th:field="*{mytivoavgstrengthMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="mytivoavgstrengthMax" class="col-lg-2 control-label"
						th:text="#{Ota.mytivoavgstrength} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="mytivoavgstrengthMax"
							th:field="*{mytivoavgstrengthMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="network" class="col-lg-2 control-label"
						th:text="#{Ota.network} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="network"
							th:field="*{network}" />
					</div>
				</div>

				<div class="form-group">
					<label for="off" class="col-lg-2 control-label"
						th:text="#{Ota.off} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="off"
							th:field="*{off}" />
					</div>
				</div>

				<div class="form-group">
					<label for="recommendedantenna" class="col-lg-2 control-label"
						th:text="#{Ota.recommendedantenna} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="recommendedantenna"
							th:field="*{recommendedantenna}" />
					</div>
				</div>

				<div class="form-group">
					<label for="rez" class="col-lg-2 control-label"
						th:text="#{Ota.rez} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="rez"
							th:field="*{rez}" />
					</div>
				</div>

				<div class="form-group">
					<label for="station" class="col-lg-2 control-label"
						th:text="#{Ota.station} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="station"
							th:field="*{station}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=6, colName=SubChan, msgKey=Ota.subchan, vName=subchan, type=Integer, jtype=null, stype=4, gsName=Subchan, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="subchanMin" class="col-lg-2 control-label"
						th:text="#{Ota.subchan} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="subchanMin"
							th:field="*{subchanMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="subchanMax" class="col-lg-2 control-label"
						th:text="#{Ota.subchan} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="subchanMax"
							th:field="*{subchanMax}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=19, colName=TvFoolChan, msgKey=Ota.tvfoolchan, vName=tvfoolchan, type=BigDecimal, jtype=null, stype=8, gsName=Tvfoolchan, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=22, comment=null) -->
				<div class="form-group">
					<label for="tvfoolchanMin" class="col-lg-2 control-label"
						th:text="#{Ota.tvfoolchan} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tvfoolchanMin"
							th:field="*{tvfoolchanMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="tvfoolchanMax" class="col-lg-2 control-label"
						th:text="#{Ota.tvfoolchan} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tvfoolchanMax"
							th:field="*{tvfoolchanMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="tvfoolestsignal" class="col-lg-2 control-label"
						th:text="#{Ota.tvfoolestsignal} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tvfoolestsignal"
							th:field="*{tvfoolestsignal}" />
					</div>
				</div>

				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="otaSearchForm.account.email" class="col-lg-2 control-label"
						th:text="#{Account.email} + ':'"></label>
					<div th:if="${otaSearchForm.account != null}" class="col-lg-10" id="otaSearchForm.account.email"
	                        th:text="${otaSearchForm.account.email}">
					</div>
				<div th:unless="${otaSearchForm.account != null}" th:text="${otaSearchForm.account}"></div>
				</div>
				<input type="hidden" class="form-control" id="account.id" />
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="otaSearchForm.account.name" class="col-lg-2 control-label"
						th:text="#{Account.name} + ':'"></label>
					<div th:if="${otaSearchForm.account != null}" class="col-lg-10" id="otaSearchForm.account.name"
	                        th:text="${otaSearchForm.account.name}">
					</div>
				<div th:unless="${otaSearchForm.account != null}" th:text="${otaSearchForm.account}"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="otaSearchForm.account.password" class="col-lg-2 control-label"
						th:text="#{Account.password} + ':'"></label>
					<div th:if="${otaSearchForm.account != null}" class="col-lg-10" id="otaSearchForm.account.password"
	                        th:text="${otaSearchForm.account.password}">
					</div>
				<div th:unless="${otaSearchForm.account != null}" th:text="${otaSearchForm.account}"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="otaSearchForm.account.userrole" class="col-lg-2 control-label"
						th:text="#{Account.userrole} + ':'"></label>
					<div th:if="${otaSearchForm.account != null}" class="col-lg-10" id="otaSearchForm.account.userrole"
	                        th:text="${otaSearchForm.account.userrole}">
					</div>
				<div th:unless="${otaSearchForm.account != null}" th:text="${otaSearchForm.account}"></div>
				</div>
				<div class="form-group">
					<label for="watchabletablo" class="col-lg-2 control-label"
						th:text="#{Ota.watchabletablo} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="watchabletablo"
							th:field="*{watchabletablo}" />
					</div>
				</div>

				<div class="form-group">
					<label for="watchabletivo" class="col-lg-2 control-label"
						th:text="#{Ota.watchabletivo} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="watchabletivo"
							th:field="*{watchabletivo}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="search"
							class="btn btn-default" th:text="#{search.search}"></button>
						<button type="submit" name="action" value="reset"
							class="btn btn-default" th:text="#{search.reset}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
