<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{search.advanced} + ' ' + #{class.Networks}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/networkss/search}" 
			th:object="${networksSearchForm}"
			th:fragment="networksSearchForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${networksSearchForm.*}')}">
				<div 
					th:each="fieldErrors : ${#fields.errors('${networksSearchForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:text="#{search.advanced} + ' ' + #{class.Networks}"></legend>

				<div class="form-group">
					<label for="networksSearchForm.doOr"
						th:text="#{search.doOr} + ' ' + #{search.like}">Select
						type</label> <select class="form-control selectpicker" th:field="*{doOr}"
						id="networksSearchForm.doOr">
						<option
							th:each="doOr : ${T(com.dea42.watchlist.search.SearchType).values()}"
							th:value="${doOr}" th:text="${doOr}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="androidapp" class="col-lg-2 control-label"
						th:text="#{Networks.androidapp} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="androidapp"
							th:field="*{androidapp}" />
					</div>
				</div>

				<div class="form-group">
					<label for="comment" class="col-lg-2 control-label"
						th:text="#{Networks.comment} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="comment"
							th:field="*{comment}" />
					</div>
				</div>

				<div class="form-group">
					<label for="commercials" class="col-lg-2 control-label"
						th:text="#{Networks.commercials} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="commercials"
							th:field="*{commercials}" />
					</div>
				</div>

				<div class="form-group">
					<label for="fireapp" class="col-lg-2 control-label"
						th:text="#{Networks.fireapp} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="fireapp"
							th:field="*{fireapp}" />
					</div>
				</div>

				<div class="form-group">
					<label for="freewithtwcid" class="col-lg-2 control-label"
						th:text="#{Networks.freewithtwcid} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="freewithtwcid"
							th:field="*{freewithtwcid}" />
					</div>
				</div>

				<div class="form-group">
					<label for="hasdirectbuyoption" class="col-lg-2 control-label"
						th:text="#{Networks.hasdirectbuyoption} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="hasdirectbuyoption"
							th:field="*{hasdirectbuyoption}" />
					</div>
				</div>

				<div class="form-group">
					<label for="haswatchlist" class="col-lg-2 control-label"
						th:text="#{Networks.haswatchlist} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="haswatchlist"
							th:field="*{haswatchlist}" />
					</div>
				</div>

				<div class="form-group">
					<label for="icanota" class="col-lg-2 control-label"
						th:text="#{Networks.icanota} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="icanota"
							th:field="*{icanota}" />
					</div>
				</div>

				<div class="form-group">
					<label for="iptvservice" class="col-lg-2 control-label"
						th:text="#{Networks.iptvservice} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="iptvservice"
							th:field="*{iptvservice}" />
					</div>
				</div>

				<div class="form-group">
					<label for="onhulu" class="col-lg-2 control-label"
						th:text="#{Networks.onhulu} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="onhulu"
							th:field="*{onhulu}" />
					</div>
				</div>

				<div class="form-group">
					<label for="persistance" class="col-lg-2 control-label"
						th:text="#{Networks.persistance} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="persistance"
							th:field="*{persistance}" />
					</div>
				</div>

				<div class="form-group">
					<label for="remembersplaceinepisode" class="col-lg-2 control-label"
						th:text="#{Networks.remembersplaceinepisode} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="remembersplaceinepisode"
							th:field="*{remembersplaceinepisode}" />
					</div>
				</div>

				<div class="form-group">
					<label for="rememberswatchedepisodes" class="col-lg-2 control-label"
						th:text="#{Networks.rememberswatchedepisodes} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="rememberswatchedepisodes"
							th:field="*{rememberswatchedepisodes}" />
					</div>
				</div>

				<div class="form-group">
					<label for="rokuapp" class="col-lg-2 control-label"
						th:text="#{Networks.rokuapp} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="rokuapp"
							th:field="*{rokuapp}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=5, colName=ShowsInTivoNpl, msgKey=Networks.showsintivonpl, vName=showsintivonpl, type=Integer, jtype=null, stype=4, gsName=Showsintivonpl, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=false, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="showsintivonplMin" class="col-lg-2 control-label"
						th:text="#{Networks.showsintivonpl} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="showsintivonplMin"
							th:field="*{showsintivonplMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="showsintivonplMax" class="col-lg-2 control-label"
						th:text="#{Networks.showsintivonpl} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="showsintivonplMax"
							th:field="*{showsintivonplMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="site" class="col-lg-2 control-label"
						th:text="#{Networks.site} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="site"
							th:field="*{site}" />
					</div>
				</div>

				<div class="form-group">
					<label for="standardwait" class="col-lg-2 control-label"
						th:text="#{Networks.standardwait} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="standardwait"
							th:field="*{standardwait}" />
					</div>
				</div>

				<div class="form-group">
					<label for="tivoapp" class="col-lg-2 control-label"
						th:text="#{Networks.tivoapp} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tivoapp"
							th:field="*{tivoapp}" />
					</div>
				</div>

				<div class="form-group">
					<label for="tivoshortname" class="col-lg-2 control-label"
						th:text="#{Networks.tivoshortname} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tivoshortname"
							th:field="*{tivoshortname}" />
					</div>
				</div>

				<div class="form-group">
					<label for="webinterface" class="col-lg-2 control-label"
						th:text="#{Networks.webinterface} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="webinterface"
							th:field="*{webinterface}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="search"
							class="btn btn-default" th:text="#{search.search}"></button>
						<button type="submit" name="action" value="reset"
							class="btn btn-default" th:text="#{search.reset}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
