<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{search.advanced} + ' ' + #{class.Roamiosp}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/roamiosps/search}" 
			th:object="${roamiospSearchForm}"
			th:fragment="roamiospSearchForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${roamiospSearchForm.*}')}">
				<div 
					th:each="fieldErrors : ${#fields.errors('${roamiospSearchForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:text="#{search.advanced} + ' ' + #{class.Roamiosp}"></legend>

				<div class="form-group">
					<label for="roamiospSearchForm.doOr"
						th:text="#{search.doOr} + ' ' + #{search.like}">Select
						type</label> <select class="form-control selectpicker" th:field="*{doOr}"
						id="roamiospSearchForm.doOr">
						<option
							th:each="doOr : ${T(com.dea42.watchlist.search.SearchType).values()}"
							th:value="${doOr}" th:text="${doOr}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="channel" class="col-lg-2 control-label"
						th:text="#{Roamiosp.channel} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="channel"
							th:field="*{channel}" />
					</div>
				</div>

				<div class="form-group">
					<label for="endMin" class="col-lg-2 control-label"
						th:text="#{Roamiosp.end} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="endMin"
							th:field="*{endMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="endMax" class="col-lg-2 control-label"
						th:text="#{Roamiosp.end} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="endMax"
							th:field="*{endMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="include" class="col-lg-2 control-label"
						th:text="#{Roamiosp.include} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="include"
							th:field="*{include}" />
					</div>
				</div>

				<div class="form-group">
					<label for="keep" class="col-lg-2 control-label"
						th:text="#{Roamiosp.keep} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="keep"
							th:field="*{keep}" />
					</div>
				</div>

				<div class="form-group">
					<label for="numMin" class="col-lg-2 control-label"
						th:text="#{Roamiosp.num} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="numMin"
							th:field="*{numMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="numMax" class="col-lg-2 control-label"
						th:text="#{Roamiosp.num} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="numMax"
							th:field="*{numMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="priorityMin" class="col-lg-2 control-label"
						th:text="#{Roamiosp.priority} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="priorityMin"
							th:field="*{priorityMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="priorityMax" class="col-lg-2 control-label"
						th:text="#{Roamiosp.priority} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="priorityMax"
							th:field="*{priorityMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="record" class="col-lg-2 control-label"
						th:text="#{Roamiosp.record} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="record"
							th:field="*{record}" />
					</div>
				</div>

				<div class="form-group">
					<label for="seasonMin" class="col-lg-2 control-label"
						th:text="#{Roamiosp.season} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="seasonMin"
							th:field="*{seasonMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="seasonMax" class="col-lg-2 control-label"
						th:text="#{Roamiosp.season} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="seasonMax"
							th:field="*{seasonMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="show" class="col-lg-2 control-label"
						th:text="#{Roamiosp.show} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="show"
							th:field="*{show}" />
					</div>
				</div>

				<div class="form-group">
					<label for="startMin" class="col-lg-2 control-label"
						th:text="#{Roamiosp.start} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="startMin"
							th:field="*{startMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="startMax" class="col-lg-2 control-label"
						th:text="#{Roamiosp.start} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="startMax"
							th:field="*{startMax}" />
					</div>
				</div>

				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamiospSearchForm.account.email" class="col-lg-2 control-label"
						th:text="#{Account.email} + ':'"></label>
					<div th:if="${roamiospSearchForm.account != null}" class="col-lg-10" id="roamiospSearchForm.account.email"
	                        th:text="${roamiospSearchForm.account.email}">
					</div>
				<div th:unless="${roamiospSearchForm.account != null}" th:text="${roamiospSearchForm.account}"></div>
				</div>
				<input type="hidden" class="form-control" id="account.id" />
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamiospSearchForm.account.name" class="col-lg-2 control-label"
						th:text="#{Account.name} + ':'"></label>
					<div th:if="${roamiospSearchForm.account != null}" class="col-lg-10" id="roamiospSearchForm.account.name"
	                        th:text="${roamiospSearchForm.account.name}">
					</div>
				<div th:unless="${roamiospSearchForm.account != null}" th:text="${roamiospSearchForm.account}"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamiospSearchForm.account.password" class="col-lg-2 control-label"
						th:text="#{Account.password} + ':'"></label>
					<div th:if="${roamiospSearchForm.account != null}" class="col-lg-10" id="roamiospSearchForm.account.password"
	                        th:text="${roamiospSearchForm.account.password}">
					</div>
				<div th:unless="${roamiospSearchForm.account != null}" th:text="${roamiospSearchForm.account}"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamiospSearchForm.account.userrole" class="col-lg-2 control-label"
						th:text="#{Account.userrole} + ':'"></label>
					<div th:if="${roamiospSearchForm.account != null}" class="col-lg-10" id="roamiospSearchForm.account.userrole"
	                        th:text="${roamiospSearchForm.account.userrole}">
					</div>
				<div th:unless="${roamiospSearchForm.account != null}" th:text="${roamiospSearchForm.account}"></div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="search"
							class="btn btn-default" th:text="#{search.search}"></button>
						<button type="submit" name="action" value="reset"
							class="btn btn-default" th:text="#{search.reset}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
