<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{search.advanced} + ' ' + #{class.Shows}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/showss/search}" 
			th:object="${showsSearchForm}"
			th:fragment="showsSearchForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${showsSearchForm.*}')}">
				<div 
					th:each="fieldErrors : ${#fields.errors('${showsSearchForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:text="#{search.advanced} + ' ' + #{class.Shows}"></legend>

				<div class="form-group">
					<label for="showsSearchForm.doOr"
						th:text="#{search.doOr} + ' ' + #{search.like}">Select
						type</label> <select class="form-control selectpicker" th:field="*{doOr}"
						id="showsSearchForm.doOr">
						<option
							th:each="doOr : ${T(com.dea42.watchlist.search.SearchType).values()}"
							th:value="${doOr}" th:text="${doOr}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="cancelled" class="col-lg-2 control-label"
						th:text="#{Shows.cancelled} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="cancelled"
							th:field="*{cancelled}" />
					</div>
				</div>

				<div class="form-group">
					<label for="epguidesshowname" class="col-lg-2 control-label"
						th:text="#{Shows.epguidesshowname} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="epguidesshowname"
							th:field="*{epguidesshowname}" />
					</div>
				</div>

				<div class="form-group">
					<label for="incanceledas" class="col-lg-2 control-label"
						th:text="#{Shows.incanceledas} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="incanceledas"
							th:field="*{incanceledas}" />
					</div>
				</div>

				<div class="form-group">
					<label for="lastshow" class="col-lg-2 control-label"
						th:text="#{Shows.lastshow} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="lastshow"
							th:field="*{lastshow}" />
					</div>
				</div>

				<div class="form-group">
					<label for="network" class="col-lg-2 control-label"
						th:text="#{Shows.network} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="network"
							th:field="*{network}" />
					</div>
				</div>

				<div class="form-group">
					<label for="premiere" class="col-lg-2 control-label"
						th:text="#{Shows.premiere} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="premiere"
							th:field="*{premiere}" />
					</div>
				</div>

				<div class="form-group">
					<label for="premieredateMin" class="col-lg-2 control-label"
						th:text="#{Shows.premieredate} + ' ' + #{search.after}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="premieredateMin"
							th:field="*{premieredateMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="premieredateMax" class="col-lg-2 control-label"
						th:text="#{Shows.premieredate} + ' ' + #{search.before}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="premieredateMax"
							th:field="*{premieredateMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="status" class="col-lg-2 control-label"
						th:text="#{Shows.status} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="status"
							th:field="*{status}" />
					</div>
				</div>

				<div class="form-group">
					<label for="tivoname" class="col-lg-2 control-label"
						th:text="#{Shows.tivoname} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="tivoname"
							th:field="*{tivoname}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="search"
							class="btn btn-default" th:text="#{search.search}"></button>
						<button type="submit" name="action" value="reset"
							class="btn btn-default" th:text="#{search.reset}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
