<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{search.advanced} + ' ' + #{class.Roamionpl}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/roamionpls/search}" 
			th:object="${roamionplSearchForm}"
			th:fragment="roamionplSearchForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${roamionplSearchForm.*}')}">
				<div 
					th:each="fieldErrors : ${#fields.errors('${roamionplSearchForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:text="#{search.advanced} + ' ' + #{class.Roamionpl}"></legend>

				<div class="form-group">
					<label for="roamionplSearchForm.doOr"
						th:text="#{search.doOr} + ' ' + #{search.like}">Select
						type</label> <select class="form-control selectpicker" th:field="*{doOr}"
						id="roamionplSearchForm.doOr">
						<option
							th:each="doOr : ${T(com.dea42.watchlist.search.SearchType).values()}"
							th:value="${doOr}" th:text="${doOr}"></option>
					</select>
				</div>

<!-- info=ColInfo(fNum=12, colName=BitrateMbps, msgKey=Roamionpl.bitratembps, vName=bitratembps, type=Integer, jtype=null, stype=4, gsName=Bitratembps, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="bitratembpsMin" class="col-lg-2 control-label"
						th:text="#{Roamionpl.bitratembps} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="bitratembpsMin"
							th:field="*{bitratembpsMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="bitratembpsMax" class="col-lg-2 control-label"
						th:text="#{Roamionpl.bitratembps} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="bitratembpsMax"
							th:field="*{bitratembpsMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="channel" class="col-lg-2 control-label"
						th:text="#{Roamionpl.channel} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="channel"
							th:field="*{channel}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=7, colName=DateField, msgKey=Roamionpl.datefield, vName=datefield, type=BigDecimal, jtype=null, stype=8, gsName=Datefield, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=22, comment=null) -->
				<div class="form-group">
					<label for="datefieldMin" class="col-lg-2 control-label"
						th:text="#{Roamionpl.datefield} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="datefieldMin"
							th:field="*{datefieldMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="datefieldMax" class="col-lg-2 control-label"
						th:text="#{Roamionpl.datefield} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="datefieldMax"
							th:field="*{datefieldMax}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=10, colName=Duration, msgKey=Roamionpl.duration, vName=duration, type=BigDecimal, jtype=null, stype=8, gsName=Duration, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=22, comment=null) -->
				<div class="form-group">
					<label for="durationMin" class="col-lg-2 control-label"
						th:text="#{Roamionpl.duration} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="durationMin"
							th:field="*{durationMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="durationMax" class="col-lg-2 control-label"
						th:text="#{Roamionpl.duration} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="durationMax"
							th:field="*{durationMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="episode" class="col-lg-2 control-label"
						th:text="#{Roamionpl.episode} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="episode"
							th:field="*{episode}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=14, colName=Isnew, msgKey=Roamionpl.isnew, vName=isnew, type=BigDecimal, jtype=null, stype=8, gsName=Isnew, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=22, comment=null) -->
				<div class="form-group">
					<label for="isnewMin" class="col-lg-2 control-label"
						th:text="#{Roamionpl.isnew} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="isnewMin"
							th:field="*{isnewMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="isnewMax" class="col-lg-2 control-label"
						th:text="#{Roamionpl.isnew} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="isnewMax"
							th:field="*{isnewMax}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=16, colName=RowInShows, msgKey=Roamionpl.rowinshows, vName=rowinshows, type=Integer, jtype=null, stype=4, gsName=Rowinshows, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="rowinshowsMin" class="col-lg-2 control-label"
						th:text="#{Roamionpl.rowinshows} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="rowinshowsMin"
							th:field="*{rowinshowsMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="rowinshowsMax" class="col-lg-2 control-label"
						th:text="#{Roamionpl.rowinshows} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="rowinshowsMax"
							th:field="*{rowinshowsMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="seriesep" class="col-lg-2 control-label"
						th:text="#{Roamionpl.seriesep} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="seriesep"
							th:field="*{seriesep}" />
					</div>
				</div>

				<div class="form-group">
					<label for="show" class="col-lg-2 control-label"
						th:text="#{Roamionpl.show} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="show"
							th:field="*{show}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=11, colName=SizeGb, msgKey=Roamionpl.sizegb, vName=sizegb, type=Integer, jtype=null, stype=4, gsName=Sizegb, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="sizegbMin" class="col-lg-2 control-label"
						th:text="#{Roamionpl.sizegb} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="sizegbMin"
							th:field="*{sizegbMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="sizegbMax" class="col-lg-2 control-label"
						th:text="#{Roamionpl.sizegb} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="sizegbMax"
							th:field="*{sizegbMax}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=8, colName=SortableDate, msgKey=Roamionpl.sortabledate, vName=sortabledate, type=Long, jtype=null, stype=-5, gsName=Sortabledate, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="sortabledateMin" class="col-lg-2 control-label"
						th:text="#{Roamionpl.sortabledate} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="sortabledateMin"
							th:field="*{sortabledateMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="sortabledateMax" class="col-lg-2 control-label"
						th:text="#{Roamionpl.sortabledate} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="sortabledateMax"
							th:field="*{sortabledateMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="title" class="col-lg-2 control-label"
						th:text="#{Roamionpl.title} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="title"
							th:field="*{title}" />
					</div>
				</div>

				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamionplSearchForm.account.email" class="col-lg-2 control-label"
						th:text="#{Account.email} + ':'"></label>
					<div th:if="${roamionplSearchForm.account != null}" class="col-lg-10" id="roamionplSearchForm.account.email"
	                        th:text="${roamionplSearchForm.account.email}">
					</div>
				<div th:unless="${roamionplSearchForm.account != null}" th:text="${roamionplSearchForm.account}"></div>
				</div>
				<input type="hidden" class="form-control" id="account.id" />
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamionplSearchForm.account.name" class="col-lg-2 control-label"
						th:text="#{Account.name} + ':'"></label>
					<div th:if="${roamionplSearchForm.account != null}" class="col-lg-10" id="roamionplSearchForm.account.name"
	                        th:text="${roamionplSearchForm.account.name}">
					</div>
				<div th:unless="${roamionplSearchForm.account != null}" th:text="${roamionplSearchForm.account}"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamionplSearchForm.account.password" class="col-lg-2 control-label"
						th:text="#{Account.password} + ':'"></label>
					<div th:if="${roamionplSearchForm.account != null}" class="col-lg-10" id="roamionplSearchForm.account.password"
	                        th:text="${roamionplSearchForm.account.password}">
					</div>
				<div th:unless="${roamionplSearchForm.account != null}" th:text="${roamionplSearchForm.account}"></div>
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')"  class="form-group">
					<label for="roamionplSearchForm.account.userrole" class="col-lg-2 control-label"
						th:text="#{Account.userrole} + ':'"></label>
					<div th:if="${roamionplSearchForm.account != null}" class="col-lg-10" id="roamionplSearchForm.account.userrole"
	                        th:text="${roamionplSearchForm.account.userrole}">
					</div>
				<div th:unless="${roamionplSearchForm.account != null}" th:text="${roamionplSearchForm.account}"></div>
				</div>
<!-- info=ColInfo(fNum=13, colName=Watchedtime, msgKey=Roamionpl.watchedtime, vName=watchedtime, type=Integer, jtype=null, stype=4, gsName=Watchedtime, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="watchedtimeMin" class="col-lg-2 control-label"
						th:text="#{Roamionpl.watchedtime} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="watchedtimeMin"
							th:field="*{watchedtimeMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="watchedtimeMax" class="col-lg-2 control-label"
						th:text="#{Roamionpl.watchedtime} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="watchedtimeMax"
							th:field="*{watchedtimeMax}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="search"
							class="btn btn-default" th:text="#{search.search}"></button>
						<button type="submit" name="action" value="reset"
							class="btn btn-default" th:text="#{search.reset}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
