<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{edit.listView} + ' ' + #{class.Shows}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

	<div class="container" th:with="SearchForm=${session.showsSearchForm}">
		<h1 th:text="#{class.Shows} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/showss/search}" th:text="#{search.search} + ' ' + #{class.Shows}"></a> <br />
		<a th:href="@{/showss/new}" th:text="#{edit.new} + ' ' + #{class.Shows}"></a> <br /><br />

	    <table>
	        <tr>
            <th>
				<a th:if="${SearchForm.sortField == 'cancelled'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=cancelled&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.cancelled}">Cancelled</a>
					<a th:if="${SearchForm.sortField != 'cancelled'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=cancelled&sortDir=asc'}"
					th:text="#{Shows.cancelled}">Cancelled</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'epguidesshowname'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=epguidesshowname&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.epguidesshowname}">EpguidesShowName</a>
					<a th:if="${SearchForm.sortField != 'epguidesshowname'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=epguidesshowname&sortDir=asc'}"
					th:text="#{Shows.epguidesshowname}">EpguidesShowName</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'incanceledas'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=incanceledas&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.incanceledas}">InCanceledAs</a>
					<a th:if="${SearchForm.sortField != 'incanceledas'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=incanceledas&sortDir=asc'}"
					th:text="#{Shows.incanceledas}">InCanceledAs</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'lastshow'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=lastshow&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.lastshow}">LastShow</a>
					<a th:if="${SearchForm.sortField != 'lastshow'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=lastshow&sortDir=asc'}"
					th:text="#{Shows.lastshow}">LastShow</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'network'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=network&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.network}">Network</a>
					<a th:if="${SearchForm.sortField != 'network'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=network&sortDir=asc'}"
					th:text="#{Shows.network}">Network</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'premiere'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=premiere&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.premiere}">Premiere</a>
					<a th:if="${SearchForm.sortField != 'premiere'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=premiere&sortDir=asc'}"
					th:text="#{Shows.premiere}">Premiere</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'premieredate'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=premieredate&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.premieredate}">PremiereDate</a>
					<a th:if="${SearchForm.sortField != 'premieredate'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=premieredate&sortDir=asc'}"
					th:text="#{Shows.premieredate}">PremiereDate</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'status'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=status&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.status}">Status</a>
					<a th:if="${SearchForm.sortField != 'status'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=status&sortDir=asc'}"
					th:text="#{Shows.status}">Status</a>
            </th>
            <th>
				<a th:if="${SearchForm.sortField == 'tivoname'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=tivoname&sortDir=' + ${SearchForm.reverseSortDir}}"
					th:text="#{Shows.tivoname}">TivoName</a>
					<a th:if="${SearchForm.sortField != 'tivoname'}"
					th:href="@{'/showss/search/' + ${SearchForm.page} + '?sortField=tivoname&sortDir=asc'}"
					th:text="#{Shows.tivoname}">TivoName</a>
            </th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="shows:${showss}">
	            <td th:if="${shows != null}" th:text="${shows.cancelled}"></td>
				<td th:unless="${shows != null}"></td>
	            <td th:if="${shows != null}"><a th:href="@{${shows.epguidesshownamelink}}" th:text="${shows.epguidesshowname}"></a></td>
				<td th:unless="${shows != null}"></td>
	            <td th:if="${shows != null}"><a th:href="@{${shows.incanceledaslink}}" th:text="${shows.incanceledas}"></a></td>
				<td th:unless="${shows != null}"></td>
	            <td th:if="${shows != null}" th:text="${shows.lastshow}"></td>
				<td th:unless="${shows != null}"></td>
	            <td th:if="${shows != null}"><a th:href="@{${shows.networklink}}" th:text="${shows.network}"></a></td>
				<td th:unless="${shows != null}"></td>
	            <td th:if="${shows != null}" th:text="${shows.premiere}"></td>
				<td th:unless="${shows != null}"></td>
	            <td th:if="${shows != null}" th:text="${shows.premieredate}"></td>
				<td th:unless="${shows != null}"></td>
	            <td th:if="${shows != null}" th:text="${shows.status}"></td>
				<td th:unless="${shows != null}"></td>
	            <td th:if="${shows != null}"><a th:href="@{${shows.tivonamelink}}" th:text="${shows.tivoname}"></a></td>
				<td th:unless="${shows != null}"></td>
				<td><a th:href="@{'/showss/edit/' + ${shows.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/showss/delete/' + ${shows.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
		<div th:if="${SearchForm.page > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Rows:
					[[${SearchForm.totalItems}]]</div>
				<div class="col-sm-1">
					<span
						th:each="i: ${#numbers.sequence(1, SearchForm.totalPages)}">
						<a th:if="${SearchForm.page != i}"
						th:href="@{'/showss/search/' + ${i}+ '?sortField=' + ${SearchForm.sortField} + '&sortDir=' + ${SearchForm.sortDir}}">[[${i}]]</a>
						<span th:unless="${SearchForm.page != i}">[[${i}]]</span>
						&nbsp; &nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a
						th:if="${SearchForm.page < SearchForm.totalPages}"
						th:href="@{'/showss/search/' + ${SearchForm.page + 1}+ '?sortField=' + ${SearchForm.sortField} + '&sortDir=' + ${SearchForm.sortDir}}">Next</a>
					<span
						th:unless="${SearchForm.page < SearchForm.totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a
						th:if="${SearchForm.page < SearchForm.totalPages}"
						th:href="@{'/showss/search/' + ${SearchForm.totalPages}+ '?sortField=' + ${SearchForm.sortField} + '&sortDir=' + ${SearchForm.sortDir}}">Last</a>
					<span
						th:unless="${SearchForm.page < SearchForm.totalPages}">Last</span>
				</div>
			</div>
		</div>

    </div>

	</div>	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
