<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{::links},~{::scripts})">
<title th:text="#{edit.listView} + ' ' + #{class.ShowsUser}"></title>
<links>
<link th:rel="stylesheet"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css} " />
</links>
<scripts> <script
	th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script> </scripts>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<div class="container-fluid" th:with="SearchForm=${session.showsUserSearchForm}">
			<h1 th:text="#{class.ShowsUser} + ' ' + #{edit.list}"></h1>
			<a th:href="@{/showsUsers/search}"
				th:text="#{search.advanced} + ' ' + #{class.ShowsUser}"></a> <br /> <a
				th:href="@{/showsUsers/new}"
				th:text="#{edit.new} + ' ' + #{class.ShowsUser}"></a> <br /> <br />
			<div style="float: right;" th:text="#{search.like}"></div>

			<table id="resultsTable" class="table table-bordered table-striped table-condensed"
				style="width: 100%">
				<thead>
					<tr>
						<th th:text="#{ShowsUser.bestexperience}"></th>
						<th th:text="#{ShowsUser.comment}"></th>
						<th th:text="#{ShowsUser.imdb}"></th>
						<th th:text="#{ShowsUser.inrokufeed}"></th>
						<th th:text="#{ShowsUser.inshowrssas}"></th>
						<th th:text="#{ShowsUser.justwatch}"></th>
						<th th:text="#{ShowsUser.lastwatched}"></th>
						<th th:text="#{ShowsUser.n67}"></th>
						<th th:text="#{ShowsUser.ota}"></th>
						<th th:text="#{Shows.cancelled}"></th>
						<th th:text="#{Shows.epguidesshowname}"></th>
						<th th:text="#{Shows.incanceledas}"></th>
						<th th:text="#{Shows.lastshow}"></th>
						<th th:text="#{Shows.network}"></th>
						<th th:text="#{Shows.premiere}"></th>
						<th th:text="#{Shows.premieredate}"></th>
						<th th:text="#{Shows.status}"></th>
						<th th:text="#{Shows.tivoname}"></th>
						<th th:text="#{ShowsUser.tablolink}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')"  th:text="#{Account.email}"></th>
						<th th:text="#{edit.actions}"></th>
					</tr>
				</thead>
			</table>
			<script th:inline="javascript">
				var editLab = /*[[#{edit.edit}]]*/'[msg not found]';
				var deleteLab = /*[[#{edit.delete}]]*/'[msg not found]';
				var datatablesUrl = /*[[#{datatables.url}]]*/'[msg not found]';
				var link = /*[[@{/api/showsUsers/list}]]*/ '/api/showsUsers/list';
				var ctx = /*[[@{/}]]*/ '/';
			</script>
			<script>
				$('#resultsTable').DataTable({
					"processing" : true,
					"serverSide" : true,
				    "language" : {
				        "url" : datatablesUrl
					    },
					"ajax" : {
						"url" : link,
						"type" : "POST",
						"dataType" : "json",
						"contentType" : "application/json",
						"data" : function(d) {
							return JSON.stringify(d);
						}
					},
    				"columnDefs": [{
        				"targets": '_all',
        				"defaultContent": ""
    				}],
					"columns" : [ {
						"name" : "bestexperience",
						"data" : "bestexperience",
					}, {
						"name" : "comment",
						"data" : "comment",
					}, {
						"name" : "imdb",
						"data" : "imdb",
					}, {
						"name" : "inrokufeed",
						"data" : "inrokufeed",
					}, {
						"name" : "inshowrssas",
						"data" : "inshowrssas",
					}, {
						"name" : "justwatch",
						"data" : "justwatch",
					}, {
						"name" : "lastwatched",
						"data" : "lastwatched",
					}, {
						"name" : "n67",
						"data" : "n67",
					}, {
						"name" : "ota",
						"data" : "ota",
					}, {
						"name" : "cancelled",
						"data" : "shows.cancelled",
					}, {
						"name" : "epguidesshowname",
						"data" : "shows.epguidesshowname",
					}, {
						"name" : "incanceledas",
						"data" : "shows.incanceledas",
					}, {
						"name" : "lastshow",
						"data" : "shows.lastshow",
					}, {
						"name" : "network",
						"data" : "shows.network",
					}, {
						"name" : "premiere",
						"data" : "shows.premiere",
					}, {
						"name" : "premieredate",
						"data" : "shows.premieredate",
					}, {
						"name" : "status",
						"data" : "shows.status",
					}, {
						"name" : "tivoname",
						"data" : "shows.tivoname",
					}, {
						"name" : "tablolink",
						"data" : "tablolink",
					}, {
						"name" : "email",
						"data" : "account.email",
					}, {
						"data" : "id",
						"render" : make_edit_links,
						"width" : "10%"
					} ]
				});


				function make_edit_links(id) {
					return "<a href=\""+ctx+"showsUsers/edit/" + id +"\" id=\"edit_"+id + "\">"
							+ editLab
							+ "</a> &nbsp;&nbsp;&nbsp;"
							+ "<a href=\""+ctx+"showsUsers/delete/" + id +"\" id=\"delete_"+id + "\">"
							+ deleteLab + "</a>";
				}
			</script>
		</div>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
