<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.listView} + ' ' + #{class.Shows}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<h1 th:text="#{class.Shows} + ' ' + #{edit.list}"></h1>
		<a th:href="@{/showss/new}" th:text="#{edit.new} + ' ' + #{class.Shows}"></a> <br /><br />

	    <table>
	        <tr>
            <th th:text="#{Shows.bestexperience}">BestExperience</th>
            <th th:text="#{Shows.cancelled}">Cancelled</th>
            <th th:text="#{Shows.comment}">Comment</th>
            <th th:text="#{Shows.epguidesshowname}">EpguidesShowName</th>
            <th th:text="#{Shows.id}">id</th>
            <th th:text="#{Shows.imdb}">Imdb</th>
            <th th:text="#{Shows.incanceledas}">InCanceledAs</th>
            <th th:text="#{Shows.inrokufeed}">InRokuFeed</th>
            <th th:text="#{Shows.inshowrssas}">InShowRssAs</th>
            <th th:text="#{Shows.justwatch}">JustWatch</th>
            <th th:text="#{Shows.lastshow}">LastShow</th>
            <th th:text="#{Shows.lastwatched}">LastWatched</th>
            <th th:text="#{Shows.network}">Network</th>
            <th th:text="#{Shows.ota}">Ota</th>
            <th th:text="#{Shows.premiere}">Premiere</th>
            <th th:text="#{Shows.premieredate}">PremiereDate</th>
            <th th:text="#{Shows.status}">Status</th>
            <th th:text="#{Shows.tivoname}">TivoName</th>
            <th th:text="#{edit.actions}"></th>
	        </tr>
	        <tr th:each="shows:${showss}">
	            <td><a th:href="@{${shows.bestexperiencelink}}" th:text="${shows.bestexperience}"></a></td>
	            <td th:text="${shows.cancelled}"></td>
	            <td><a th:href="@{${shows.commentlink}}" th:text="${shows.comment}"></a></td>
	            <td><a th:href="@{${shows.epguidesshownamelink}}" th:text="${shows.epguidesshowname}"></a></td>
	            <td th:text="${shows.id}"></td>
	            <td><a th:href="@{${shows.imdblink}}" th:text="${shows.imdb}"></a></td>
	            <td><a th:href="@{${shows.incanceledaslink}}" th:text="${shows.incanceledas}"></a></td>
	            <td th:text="${shows.inrokufeed}"></td>
	            <td><a th:href="@{${shows.inshowrssaslink}}" th:text="${shows.inshowrssas}"></a></td>
	            <td><a th:href="@{${shows.justwatchlink}}" th:text="${shows.justwatch}"></a></td>
	            <td th:text="${shows.lastshow}"></td>
	            <td th:text="${shows.lastwatched}"></td>
	            <td><a th:href="@{${shows.networklink}}" th:text="${shows.network}"></a></td>
	            <td th:text="${shows.ota}"></td>
	            <td th:text="${shows.premiere}"></td>
	            <td th:text="${shows.premieredate}"></td>
	            <td th:text="${shows.status}"></td>
	            <td><a th:href="@{${shows.tivonamelink}}" th:text="${shows.tivoname}"></a></td>
				<td><a th:href="@{'/showss/edit/' + ${shows.id}}" th:text="#{edit.edit}"></a>
					&nbsp;&nbsp;&nbsp; <a th:href="@{'/showss/delete/' + ${shows.id}}" th:text="#{edit.delete}"></a>
				</td>

	        </tr>
	    </table>
    </div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
